<!-- Public pages footer  -->
<footer class="nk-footer bg-theme-grad">
    <section class="section section-footer tc-light bg-transparent">
        <div class="container">
            <!-- Block  -->
            <div class="nk-block block-footer">
                <div class="row">
                    <div class="col-lg-2 col-sm-4 mb-4 mb-sm-0">
                        <div class="wgs wgs-menu">
                            <h6 class="wgs-title">Company</h6>
                            <div class="wgs-body">
                                <ul class="wgs-links">
                                    <li><a href="./#about-us">About Us</a></li>
                                    <li><a href="./Contact">Contact Us</a></li>
                                </ul>
                            </div>
                                <div class="contact-social">                          
                                    <ul class="social-links">
                                        <li><a href="https://github.com/EKON-YAZILIM/ServicesDAO" target="_blank"><em class="social-icon social-icon-transparent fab fa-github"></em></a></li>
                                        <li><a href="https://www.youtube.com/channel/UCRcvfCJVbb7SfNOodi461xw/videos" target="_blank"><em class="social-icon social-icon-transparent fab fa-youtube"></em></a></li>
                                        <li><a href="https://twitter.com/crdao_dev" target="_blank"><em class="social-icon social-icon-transparent fab fa-twitter"></em></a></li>
                                        <li><a href="https://www.linkedin.com/company/crdao" target="_blank"><em class="social-icon social-icon-transparent fab fa-linkedin"></em></a></li>
                                        <li><a href="https://t.me/CodeReviewDAO" target="_blank"><em class="social-icon social-icon-transparent fab fa-telegram"></em></a></li>
                                    </ul>
                                </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-2 col-sm-4 mb-4 mb-sm-0">
                        <div class="wgs wgs-menu">
                            <h6 class="wgs-title">Legal</h6>
                            <div class="wgs-body">
                                <ul class="wgs-links">
                                    <li><a href="#">Privacy Policy</a></li>
                                    @*<li><a href="#">Whitepaper</a></li>*@
                                </ul>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-2 col-sm-4 mb-4 mb-sm-0">
                        <div class="wgs wgs-menu">
                            <h6 class="wgs-title">Quick Links</h6>
                            <div class="wgs-body">
                                <ul class="wgs-links">
                                    <li><a href="../#faqs">Faqs</a></li>
                                    @*<li><a href="#" data-toggle="modal" data-target="#modal-login">Login</a></li>*@
                                </ul>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-6 mb-4 mb-lg-0 order-lg-first">
                        <div class="wgs wgs-text">
                            <div class="wgs-body">
                                <a href="./" class="wgs-logo">
                                    <img src="../Public/images/crdao-newlogo-light.png" srcset="../Public/images/crdao-newlogo-light.png 2x" alt="logo" width="200">
                                </a>
                                <p>Copyright © 2021 ServicesDAO. <br>All rights reserved. </p>
                                <p class="copyright-text">Created by <a href="https://ekonteknoloji.com/">Ekon Technology</a></p>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block  -->
        </div>

    </section>
    <div class="nk-ovm shape-b"></div>
</footer>

<!-- Loading Spinner -->
<div class="preloader preloader-alt no-split"><span class="spinner spinner-alt"><img class="spinner-brand" src="../Public/images/crdao-newlogo-light.png" alt=""></span></div>
