@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
<!-- Public pages header  -->
<header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
    <!-- Header  -->
    <div class="header-main">
        <div class="header-container container">
            <div class="header-wrap">
                <!-- Logo -->
                <div class="header-logo logo animated" data-animate="fadeInDown" data-delay=".6">
                    <a href="../Public/Index" class="logo-link">
                        <img class="logo-dark" src="../Public/images/crdao-logo-dark.png" srcset="../Public/images/crdao-logo-dark.png 2x" alt="logo">
                        <img class="logo-light" src="../Public/images/crdao-logo-light.png" srcset="../Public/images/crdao-logo-light.png 2x" alt="logo">
                    </a>
                </div>
                <!-- Menu Toogle  -->
                <div class="header-nav-toggle">
                    <a href="#" class="navbar-toggle" data-menu-toggle="header-menu">
                        <div class="toggle-line">
                            <span></span>
                        </div>
                    </a>
                </div>

                <!-- Menu  -->
                <div class="header-navbar animated" data-animate="fadeInDown" data-delay=".75">
                    <nav class="header-menu" id="header-menu">
                        <ul class="menu">
                            <li class="menu-item">
                                <a class="menu-link nav-link" href="../Price-Discovery">Price Discovery</a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link nav-link" target="_blank" href="../Public/ossagtc-v2.pdf">Terms & Conditions</a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link nav-link" target="_blank" href="../Public/CRDAO-Whitepaper-Version4.pdf">Whitepaper</a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link nav-link" href="../Contact">Contact</a>
                            </li>
                        </ul>
                        @if (httpContextAccessor.HttpContext.Session.GetInt32("UserID") != null)
                        {
                            <ul class="menu-btns">
                                <li><button class=" btn btn-md btn-auto btn-outline btn-primary" onclick="window.location.href='../Home'"><span>Dashboard</span></button></li>
                            </ul>
                        }
                        else
                        {
                            <ul class="menu-btns">
                                <li><button class=" btn btn-md btn-auto btn-outline btn-primary" data-toggle="modal" data-target="#modal-login"><span>Login</span></button></li>
                                <li><button class=" btn btn-md btn-auto btn-outline btn-primary" data-toggle="modal" data-target="#modal-signUp"><span>Sign Up</span></button></li>
                            </ul>
                        }

                    </nav>
                    <div class="header-navbar-overlay"></div>
                </div><!-- .header-navbar  -->
            </div>
        </div>
    </div>
    <!-- .header-main  -->
    <!-- Banner  -->
    <div class="header-banner bg-theme-grad">
        <div class="nk-banner">
            <div class="banner banner-page">
                <div class="banner-wrap">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-6 col-lg-9">
                                <div class="banner-caption cpn tc-light text-center">
                                    <div class="cpn-head">
                                        <h2 class="title ttu">@ViewBag.HeaderTitle</h2>
                                        <p>@ViewBag.HeaderSubTitle</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .nk-banner -->
        <div class="nk-ovm shape-a-sm"></div>
    </div>
    <!-- .header-banner  -->
</header>
