################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug
/DAO_ApiGateway/bin/Debug/netcoreapp3.1
/DAO_ApiGateway/obj
/DAO_DbService/bin/Debug/netcoreapp3.1
/DAO_DbService/obj
/DAO_IdentityService/bin/Debug/netcoreapp3.1
/DAO_IdentityService/obj
/DAO_LogService/bin/Debug/netcoreapp3.1
/DAO_LogService/obj
/DAO_NotificationService/bin/Debug/netcoreapp3.1
/DAO_NotificationService/obj
/DAO_WebPortal/bin/Debug/netcoreapp3.1
/DAO_WebPortal/obj
/Helpers/bin/Debug/netcoreapp3.1
/Helpers/obj
/obj
/DAO_ApiGateway/bin/Release/netcoreapp3.1
/DAO_ApiGateway/Properties/PublishProfiles
/DAO_DbService/bin/Release/netcoreapp3.1
/DAO_DbService/Properties/PublishProfiles
/DAO_IdentityService/bin/Release/netcoreapp3.1
/DAO_IdentityService/Properties/PublishProfiles
/DAO_LogService/bin/Release/netcoreapp3.1
/DAO_LogService/Properties/PublishProfiles
/DAO_NotificationService/bin/Release/netcoreapp3.1
/DAO_NotificationService/Properties/PublishProfiles
/DAO_WebPortal/bin/Release/netcoreapp3.1
/DAO_WebPortal/Properties/PublishProfiles
/Helpers/bin/Release/netcoreapp3.1
