################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/bin/Debug
/DAO_ApiGateway/bin/Debug/netcoreapp3.1
/DAO_ApiGateway/obj
/DAO_DbService/bin/Debug/netcoreapp3.1
/DAO_DbService/obj
/DAO_IdentityService/bin/Debug/netcoreapp3.1
/DAO_IdentityService/obj
/DAO_LogService/bin/Debug/netcoreapp3.1
/DAO_LogService/obj
/DAO_NotificationService/bin/Debug/netcoreapp3.1
/DAO_NotificationService/obj
/DAO_WebPortal/bin/Debug/netcoreapp3.1
/DAO_WebPortal/obj
/Helpers/bin/Debug/netcoreapp3.1
/Helpers/obj
/obj
/DAO_ApiGateway/bin/Release/netcoreapp3.1
/DAO_ApiGateway/Properties/PublishProfiles
/DAO_DbService/bin/Release/netcoreapp3.1
/DAO_DbService/Properties/PublishProfiles
/DAO_IdentityService/bin/Release/netcoreapp3.1
/DAO_IdentityService/Properties/PublishProfiles
/DAO_LogService/bin/Release/netcoreapp3.1
/DAO_LogService/Properties/PublishProfiles
/DAO_NotificationService/bin/Release/netcoreapp3.1
/DAO_NotificationService/Properties/PublishProfiles
/DAO_WebPortal/bin/Release/netcoreapp3.1
/DAO_WebPortal/Properties/PublishProfiles
/Helpers/bin/Release/netcoreapp3.1
/DAO_ApiGateway/DAO_ApiGateway.csproj.user
/DAO_DbService/DAO_DbService.csproj.user
/DAO_IdentityService/DAO_IdentityService.csproj.user
/DAO_LogService/DAO_LogService.csproj.user
/DAO_NotificationService/DAO_NotificationService.csproj.user
/DAO_WebPortal/DAO_WebPortal.csproj.user
/Helpers/Helpers.csproj.user
/bin/Release
/UnitTests\DAO_DbService.Test\bin
/UnitTests\DAO_DbService.Test\obj
/UnitTests/DAO_DbService.Test/bin/Debug/netcoreapp3.1
/UnitTests/DAO_DbService.Test/obj
/UnitTests/DAO_DbService.Test/bin/Release/netcoreapp3.1/CoverletSourceRootsMapping
/UnitTests\DAO_IdentityService.Test\bin
/UnitTests\DAO_IdentityService.Test\obj
/UnitTests/DAO_IdentityService.Test/bin/Debug/netcoreapp3.1
/UnitTests/DAO_IdentityService.Test/obj
/UnitTests/DAO_IdentityService.Test/bin/Release/netcoreapp3.1/CoverletSourceRootsMapping
/DAO_RFPService/obj
*.user
/UnitTests/DAO_DbService.Test/bin/Release/netcoreapp3.1
/DAO_RFPService/bin/Debug/netcoreapp3.1
/DAO_RFPService/bin/Release/netcoreapp3.1
/DAO_RFPService/Properties/PublishProfiles
/DAO_ApiGateway/appsettings.Production.json
/DAO_DbService/appsettings.Production.json
/DAO_IdentityService/appsettings.Production.json
/DAO_LogService/appsettings.Prodcution.json
/DAO_NotificationService/appsettings.Production.json
/DAO_WebPortal/appsettings.Production.json
/docker-compose-production.yml
/DAO_LogService/appsettings.Production.json
/docker-compose-production.override.yml
