<!-- Public pages footer  -->
<footer class="nk-footer bg-theme-grad">
    <section class="section section-footer tc-light bg-transparent">
        <div class="container">
            <!-- Block  -->
            <div class="nk-block block-footer">
                <div class="row">
                    <div class="col-lg-2 col-sm-4 mb-4 mb-sm-0">
                        <div class="wgs wgs-menu">
                            <h6 class="wgs-title">Company</h6>
                            <div class="wgs-body">
                                <ul class="wgs-links">
                                    <li><a href="./#about-us">About Us</a></li>
                                    <li><a href="./Contact">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-2 col-sm-4 mb-4 mb-sm-0">
                        <div class="wgs wgs-menu">
                            <h6 class="wgs-title">Legal</h6>
                            <div class="wgs-body">
                                <ul class="wgs-links">
                                    <li><a href="#">Privacy Policy</a></li>
                                    @*<li><a href="#">Whitepaper</a></li>*@
                                </ul>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-2 col-sm-4 mb-4 mb-sm-0">
                        <div class="wgs wgs-menu">
                            <h6 class="wgs-title">Quick Links</h6>
                            <div class="wgs-body">
                                <ul class="wgs-links">
                                    <li><a href="../#faqs">Faqs</a></li>
                                    @*<li><a href="#" data-toggle="modal" data-target="#modal-login">Login</a></li>*@
                                </ul>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-6 mb-4 mb-lg-0 order-lg-first">
                        <div class="wgs wgs-text">
                            <div class="wgs-body">
                                <a href="./" class="wgs-logo">
                                    <img src="../Public/images/logo-light.png" srcset="../Public/images/logo-light.png 2x" alt="logo">
                                </a>
                                <p>Copyright © 2021 CRDAO. <br>All rights reserved. </p>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block  -->
        </div>

    </section>
    <div class="nk-ovm shape-b"></div>
</footer>

<!-- Loading Spinner -->
<div class="preloader preloader-alt no-split"><span class="spinner spinner-alt"><img class="spinner-brand" src="../Public/images/logo-light.png" alt=""></span></div>

