@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
    <!-- Header  -->
    <div class="header-main">
        <div class="header-container container">
            <div class="header-wrap">
                <!-- Logo -->
                <div class="header-logo logo animated" data-animate="fadeInDown" data-delay=".6">
                    <a href="./" class="logo-link">
                        <img class="logo-dark" src="../Public/images/logo-dark.png" srcset="../Public/images/logo-dark.png 2x" alt="logo">
                        <img class="logo-light" src="../Public/images/logo-light.png" srcset="../Public/images/logo-light.png 2x" alt="logo">
                    </a>
                </div>
                <!-- Menu Toogle  -->
                <div class="header-nav-toggle">
                    <a href="#" class="navbar-toggle" data-menu-toggle="header-menu">
                        <div class="toggle-line">
                            <span></span>
                        </div>
                    </a>
                </div>

                <!-- Menu  -->
                <div class="header-navbar animated" data-animate="fadeInDown" data-delay=".75">
                    <nav class="header-menu" id="example-menu-02">
                        <ul class="menu">
                            <li class="menu-item">
                                <a class="menu-link nav-link" href="../RFP">RFP</a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link nav-link" href="../Privacy-Policy">Privacy Policy</a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link nav-link" href="../Contact">Contact</a>
                            </li>

                        </ul>
                        <ul class="menu-btns">
                            <li><button class=" btn btn-md btn-auto btn-outline btn-primary" data-toggle="modal" data-target="#modal-login"><span>Login</span></button></li>
                            <li><button class=" btn btn-md btn-auto btn-outline btn-primary" data-toggle="modal" data-target="#modal-signUp"><span>Sign Up</span></button></li>
                        </ul>
                    </nav>
                    <div class="header-navbar-overlay"></div>
                </div><!-- .header-navbar  -->
            </div>
        </div>
    </div>
    <!-- .header-main  -->

    <!-- Banner  -->
    <div class="header-banner bg-theme-grad">
        <div class="nk-banner">
            <div class="banner banner-page">
                <div class="banner-wrap">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-6 col-lg-9">
                                <div class="banner-caption cpn tc-light text-center">
                                    <div class="cpn-head">
                                        <h2 class="title ttu">@ViewBag.HeaderTitle</h2>
                                        <p>@ViewBag.HeaderSubTitle</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .nk-banner -->
        <div class="nk-ovm shape-a-sm"></div>
    </div>
    <!-- .header-banner  -->
</header>
