
.float-right{
    float:right !important;
}

.text-justify {
    text-align: justify !important;
}

.text-right {
    text-align: right !important;
}
/********Scrollbar Style*******/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #3e4ab1;
}
:root {
    scrollbar-color: #1a236f #F5F5F5 !important;
    scrollbar-width: thin !important;
}

    .comment-thread {
    max-width: 100%;
    margin: auto;
    border: 1px solid transparent; /* Removes margin collapse */
}

.m-0 {
    margin: 0;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Comment */

.comment {
    position: relative;
    margin: 20px auto;
}

.comment-heading {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 14px;
}

.comment-voting {
    width: 34px;
    height: 34px;
}

    .comment-voting button {
        display: block;
        width: 100%;
        height: 50%;
        padding: 0;
        border: 0;
        font-size: 10px;
    }

.comment-info {
    margin-left: 10px;
}

.comment-author {
    font-weight: bold;
    text-decoration: none;
}

    .comment-author:hover {
        text-decoration: underline;
    }

.replies {
    margin-left: 20px;
}

/* Adjustments for the comment border links */

.comment-border-link {
    display: block;
    position: absolute;
    top: 60px;
    left: 10px;
    width: 12px;
    height: calc(100% - 50px);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-color: var(--cui-link-color, #c8c4f0);
    background-clip: padding-box;
}

    .comment-border-link:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }

.comment-body {
    padding: 0 20px;
    padding-left: 28px;
}

.replies {
    margin-left: 28px;
}


/************Extras***********/
.titleContainer h5,
.titleContainer small {
    display: inline;
}

.cursorp {
    cursor: pointer !important
}

.highlighted {
    background-color: #f9fafa !important;
    border-radius: calc(0.5rem - 1px);
}

.dark-theme .highlighted {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.highlighted div:first-child {
    padding: 1rem
}

.text-icon {
    height: 1.25rem;
    font-size: 1.25rem;
    color: #A59AFB;
    text-align: center;
    width: 1.25rem;
    margin-right: 0.5rem;
}

.accordion-header {
    border: 1px solid rgb(74, 74, 83);
}


/*User profile view styles*/

.last-btn, .next-btn {
    position: relative;
    font-size: 22px;
    position: absolute;
}

.next-btn {
    right: 15px;
}

.last-btn {
    left: 15px;
}

.profile__options {
    position: relative;
    top: 50px;
}

.avatar-profile {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    border: 2px solid #fff;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    z-index: 2;
    transform: translateZ(0);
    transition: border-color 200ms;
    cursor: pointer;
}

#preview {
    background: #4f5d73;
    height: 140px;
}

    #preview::after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: -1;
        line-height: 150px;
        color: #999;
    }

.avatar_img {
    width: 100%;
    height: 136px;
    animation: inPop 250ms 150ms 1 forwards cubic-bezier(0.175, 0.885, 0.32, 1.175);
    transform: scale(0);
    opacity: 0;
}

@keyframes inPop {
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.avatar_img--rotate90 {
    transform: rotate(90deg);
}

.avatar_upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 140px;
    background: #25cfe3;
    background: rgba(44,205, 251, 0.6);
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 500ms;
}

#upload {
    height: 100%;
    width: 128px;
    opacity: 0;
    cursor: pointer;
}

@keyframes popDown {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.avatar {
    vertical-align: top;
    position: relative;
    top: 5px;
    right: 5px;
}