
/*USER PROFILE STARTS*/

.last-btn, .next-btn {
    position: relative;
    font-size: 22px;
    position: absolute;
}

.next-btn {
    right: 15px;
}

.last-btn {
    left: 15px;
}

.btn {
    cursor: pointer;
}

    .btn:focus, .btn:hover {
        color: rgba(44,105, 151, 1);
    }

.profile {
    position: relative;
}

.profile__options {
    position: relative;
    top: 50px;
}

.avatar-profile {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    border: 2px solid #fff;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    z-index: 2;
    transform: translateZ(0);
    transition: border-color 200ms;
    cursor: pointer;
}

.avatar--upload-error {
    border-color: #F73C3C;
    animation: shakeNo 300ms 1 forwards;
}

#uploadicon {
    color: black;
    font-size: 60px;
    top: 18px;
    left: 18px;
    display: none;
    position: relative;
}

@keyframes shakeNo {
    20%, 60% {
        transform: translateX(6px);
    }

    40%, 80% {
        transform: translate(-6px);
    }
}

.avatar-profile:hover .avatar_upload, .avatar--hover .avatar_upload {
    opacity: 1;
}

#preview {
    background: #4f5d73;
    height: 120px;
}

    #preview::after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: -1;
        line-height: 150px;
        color: #999;
    }

.avatar_img--loading {
    opacity: 0;
}

.avatar_img {
    width: 100%;
    height: 136px;
    animation: inPop 250ms 150ms 1 forwards cubic-bezier(0.175, 0.885, 0.32, 1.175);
    transform: scale(0);
    opacity: 0;
}

@keyframes inPop {
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.avatar_img--rotate90 {
    transform: rotate(90deg);
}

.avatar_upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    background: #25cfe3;
    background: rgba(44,205, 251, 0.6);
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 500ms;
}

.upload_label {
    color: #111;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    padding: 4px;
    border-radius: 3px;
    min-width: 60px;
    width: 100%;
    max-width: 80px;
    margin: auto;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*background: #fff;*/
    animation: popDown 300ms 1 forwards;
    transform: translateY(-10px);
    opacity: 0;
    /*display: none;*/
    transition: background 200ms, color 200ms;
    height: 100%;
}

#upload {
    height: 100%;
    width: 75px;
    opacity: 0;
}

@keyframes popDown {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.upload_label:hover {
    color: #fff;
    background: #222;
    display: none;
}

.nickname {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #666;
    position: relative;
    display: none
}

#name:hover {
    outline: lightblue auto 5px;
    outline: -webkit-focus-ring-color auto 5px;
    display: none
}

/*USER PROFILE ENDS*/