

h1, h2, h3, h4, h5, h6, p, ul:not(.btn-grp), ol, table {
    margin-bottom: 12px;
    line-height: 1.68;
}

    h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child, ul:not(.btn-grp):last-child, ol:last-child, table:last-child {
        margin-bottom: 0;
    }

h1, .h1 {
    font-size: 1.75em;
}

h2, .h2 {
    font-size: 1.58em;
}

h3, .h3 {
    font-size: 1.32em;
}

h4, .h4 {
    font-size: 1.2em;
}

h5, .h5 {
    font-size: 1em;
}

h6, .h6 {
    font-size: .9em;
}

p {
    font-size: 1em;
}

    p.lead {
        font-size: 1.27em;
    }

    h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, p span {
        color: #2b56f5;
    }

ul, ol {
    padding: 0px;
    margin: 0px;
}

    ul li, ol li {
        list-style: none;
    }

.relative {
    position: relative;
}

p + h1, p + h2, p + h3, p + h4, p + h5, p + h4, ul + h1, ul + h2, ul + h3, ul + h4, ul + h5, ul + h4, ol + h1, ol + h2, ol + h3, ol + h4, ol + h5, ol + h4, table + h1, table + h2, table + h3, table + h4, table + h5, table + h4 {
    margin-top: 35px;
}

ul + p, ul + ul, ul + ol, ol + ol, ol + ul, ul + table, ol + table {
    margin-top: 35px;
}

b, strong {
    font-weight: 600;
}

a {
    outline: 0;
    transition: all 0.5s;
    color: #2b56f5;
}

    a:link, a:visited {
        text-decoration: none;
    }

    a:hover, a:focus, a:active {
        outline: 0;
        color: #46bdf4;
    }

.container {
    z-index: 5;
}

@media (min-width: 992px) {
    .container {
        width: 940px;
    }
}
/*! 03.0 - UTILITY */

.gaps-1x {
    height: 10px;
}

.gaps-2x {
    height: 20px;
}

.gaps-3x {
    height: 30px;
}

.gaps-4x {
    height: 40px;
}


@media (min-width: 576px) {
    .status {
        padding: 50px;
    }

    .status-sm {
        padding: 20px;
    }
}
/** Tabs **/
.nav-tabs-line {
    margin-bottom: 30px;
    border-bottom: 2px solid #d3e0f3;
}

    .nav-tabs-line .nav-item {
        padding: 0 12px 0 0;
        margin-bottom: 0;
    }

        .nav-tabs-line .nav-item:last-child {
            padding: 0;
        }

    .nav-tabs-line .nav-link {
        border: none;
        padding: 6px 0;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: -0.03em;
        color: rgba(103, 131, 184, 0.7);
        position: relative;
    }

        .nav-tabs-line .nav-link:after {
            position: absolute;
            left: 0;
            bottom: -2px;
            content: '';
            width: 0;
            height: 2px;
            background: #2b56f5;
            transition: all .4s;
        }

        .nav-tabs-line .nav-link.active {
            color: #304073;
        }

            .nav-tabs-line .nav-link.active:after {
                width: 100%;
            }

.nav-tabs-bordered {
    display: block;
    margin: 0 -7px;
    border-bottom: 0;
    display: flex;
}

    .nav-tabs-bordered .nav-item {
        margin-bottom: 0;
        flex-grow: 1;
        width: 33.33%;
        padding: 0 7px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .nav-tabs-bordered .nav-link {
        text-align: center;
        display: block;
        border: 2px solid #d3e0f3;
        border-radius: 4px;
        color: #d3e0f3;
        padding: 12px 0 10px;
        font-size: 11px;
        height: 100%;
    }

        .nav-tabs-bordered .nav-link.active {
            border: 2px solid #2b56f5;
            color: #2b56f5;
        }

.nav-tabs-icon {
    position: relative;
    width: 44px;
    margin: 0 auto 5px;
}

    .nav-tabs-icon img {
        transition: all .4s;
        width: 100%;
    }

        .nav-tabs-icon img:first-of-type {
            opacity: 1;
        }

        .nav-tabs-icon img:last-of-type {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

.active .nav-tabs-icon img:first-of-type {
    opacity: 0;
}

.active .nav-tabs-icon img:last-of-type {
    opacity: 1;
}

@media (min-width: 420px) {
    .nav-tabs-line .nav-item {
        padding: 0 30px 0 0;
    }

    .nav-tabs-line .nav-link {
        font-size: 13px;
        letter-spacing: 0em;
    }
}

@media (min-width: 576px) {
    .nav-tabs-bordered .nav-item {
        padding: 0 15px;
        margin-bottom: 25px;
    }

    .nav-tabs-bordered .nav-link {
        font-size: 14px;
    }

    .nav-tabs-icon {
        width: 64px;
    }
}

@media (min-width: 768px) {
    .nav-tabs-line .nav-item {
        padding: 0 40px 0 0;
    }

    .nav-tabs-line .nav-link {
        font-size: 14px;
    }
}


/** DropZone **/
.dz-clickable {
    border: 1px dashed #d3e0f3;
    border-radius: 4px;
    padding: 20px 0 30px;
    text-align: center;
}

.dz-message span {
    display: block;
    color: rgba(103, 131, 184, 0.6);
}

.dz-message-text {
    font-size: 13px;
}

.dz-message-or {
    font-size: 16px;
    margin-bottom: 4px;
    text-transform: uppercase;
}

.dz-preview {
    margin-top: 20px;
    position: relative;
}

.dz-image img {
    border-radius: 4px;
    border: 1px solid #d3e0f3;
}

.dz-filename {
    font-size: 13px;
}

.dz-progress {
    opacity: 1;
    z-index: 1000;
    pointer-events: none;
    position: absolute;
    height: 10px;
    top: 55px;
    left: 50%;
    width: 80px;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    overflow: hidden;
    transition: all .4s;
}

.dz-complete .dz-progress {
    opacity: 0;
}

.dz-upload {
    background: #333;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    transition: all .3s ease-in-out;
}

.dz-error-message, .dz-success-message {
    font-size: 13px;
}

.dz-error-mark, .dz-success-mark {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

    .dz-error-mark svg, .dz-success-mark svg {
        height: 40px !important;
        width: 40px !important;
    }

        .dz-error-mark svg g, .dz-success-mark svg g {
            stroke-opacity: .7;
            stroke-width: 2;
        }

.dz-error-message {
    color: #ff0000;
}

.dz-error-mark g {
    stroke: rgba(255, 0, 0, 0.7) !important;
}

.dz-error .dz-error-mark {
    display: block;
}

.dz-success-message {
    color: #00d285;
}

.dz-success-mark g {
    stroke: rgba(0, 210, 133, 0.7) !important;
}

.dz-success .dz-success-mark {
    display: block;
}

.upload-title {
    color: #6783b8;
    display: block;
    font-size: 14px;
    padding-bottom: 8px;
    font-weight: 500;
}

/** KYC Upload **/
.kyc-upload-title {
    color: #304073;
    margin-bottom: 12px;
}

.kyc-upload-list li {
    color: #304073;
    position: relative;
    padding-left: 25px;
}

    .kyc-upload-list li:before {
        position: absolute;
        left: 0;
        top: 3px;
        font-family: Font Awesome;
        content: '\f00c';
        font-weight: 700;
        color: #9eaecf;
        margin-right: 4px;
        font-size: 13px;
    }

.kyc-popup {
    padding: 30px;
}

@media (min-width: 575px) {
    .kyc-upload-img {
        padding: 0 30px 0;
    }

    .kyc-popup {
        padding: 60px;
    }
}
/** Form Style **/
.from-step-item {
    border-bottom: 1px solid #d3e0f3;
}

    .from-step-item:last-child {
        border-bottom: none;
    }

.from-step-heading {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #d3e0f3;
}

.from-step-number {
    font-size: 20px;
    line-height: 24px;
    padding: 10px 0;
    flex-shrink: 0;
    font-weight: 500;
    color: #9eaecf;
    width: 48px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid;
    margin-right: 15px;
}

.from-step-head h4 {
    margin-bottom: 4px;
    font-weight: 600;
}

.from-step-head p {
    color: #304073;
    font-size: 13px;
}

.from-step-content {
    padding: 20px;
    flex-grow: 1;
}


.file-upload {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #6B89F8;
    border: none;
    padding: 10px;
    border-radius: 4px;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

    .file-upload-btn:hover {
        background: #2B56F5;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }

    .file-upload-btn:active {
        border: 0;
        transition: all .2s ease;
    }

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 2px dashed #6B89F8;
    position: relative;
}

    .image-dropping,
    .image-upload-wrap:hover {
        background-color: #6B89F878;
        border: 2px dashed #ffffff;
    }

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

    .drag-text h3 {
        font-weight: 100;
        text-transform: uppercase;
        color: #6B89F8;
        padding: 60px 0;
    }

.file-upload-image {
    max-height: 300px;
    max-width: 300px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

    .remove-image:hover {
        background: #c13b2a;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }

    .remove-image:active {
        border: 0;
        transition: all .2s ease;
    }

#success-check {
    display: block;
    margin: 0 auto;
    width: 128px;
    height: 128px;
}

#check {
    stroke-dasharray: 200;
    transform-origin: center;
    animation: draw-in-check 1s ease-out reverse;
}

@keyframes draw-in-check {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 200;
    }
}


#circle {
    stroke-dasharray: 200;
    transform-origin: center;
    animation: draw-in-circle 1.5s ease-in reverse;
}

@keyframes draw-in-circle {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 200;
    }
}

/* xs - This may not be necessary. */
@media screen and (max-width: 768px) {
    #success-check {
        width: 64px;
        height: 64px;
    }
}

/** END */
.iconClock {
    margin: 4% auto;
    width: 120px;
    height: 120px;
    display: block;
    stroke-width: 5;
    stroke: #616161;
    stroke-linecap: round;
    animation: scale 0.3s ease-in-out 0.9s both;
}

.delayed-icon {
    animation: none;
}

.circle {
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    stroke-width: 5;
    stroke: #616161;
    stroke-linecap: round;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.path {
    transform-origin: 50% 50%;
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    stroke-linecap: round;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.check-circle {
    stroke: #2ecc71;
}

    .check-circle .circle {
        stroke: #2ecc71;
    }

.times-circle, .strike-circle {
    stroke: #f22613;
}

    .times-circle .circle, .strike-circle .circle {
        stroke: #f22613;
        animation: stroke-danger 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    }

.waiting {
    animation: rotate 0.4s cubic-bezier(0.65, 0, 0.45, 1) 1.4s, rotate 0.5s ease-in 0.4s infinite;
}

    .waiting .circle {
        stroke-dasharray: 320;
        stroke-dashoffset: 320;
    }

.hand-hour {
    stroke-width: 6;
}

.hand-min {
    fill: #bbd032;
    stroke-width: 4;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    /* transform: rotate(180deg);
	 */
    -webkit-animation: 3600s dialspin infinite linear;
    -moz-animation: 3600s dialspin infinite linear;
    animation: 3600s dialspin infinite linear;
}

.hand-sec {
    stroke-width: 2;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: 60s dialspin infinite linear;
    -moz-animation: 60s dialspin infinite linear;
    animation: 60s dialspin infinite linear;
}

@-webkit-keyframes dialspin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes dialspin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@keyframes dialspin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes stroke-danger {
    25% {
        stroke: #2ecc71;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
 