

h1, h2, h3, h4, h5, h6, p, ul:not(.btn-grp), ol, table { margin-bottom: 12px; line-height: 1.68; }
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child, ul:not(.btn-grp):last-child, ol:last-child, table:last-child { margin-bottom: 0; }

h1, .h1 { font-size: 1.75em; }

h2, .h2 { font-size: 1.58em; }

h3, .h3 { font-size: 1.32em; }

h4, .h4 { font-size: 1.2em; }

h5, .h5 { font-size: 1em; }

h6, .h6 { font-size: .9em; }

p { font-size: 1em; }

p.lead { font-size: 1.27em; }

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, p span { color: #2b56f5; }

ul, ol { padding: 0px; margin: 0px; }
ul li, ol li { list-style: none; }

.relative { position: relative; }

p + h1, p + h2, p + h3, p + h4, p + h5, p + h4, ul + h1, ul + h2, ul + h3, ul + h4, ul + h5, ul + h4, ol + h1, ol + h2, ol + h3, ol + h4, ol + h5, ol + h4, table + h1, table + h2, table + h3, table + h4, table + h5, table + h4 { margin-top: 35px; }

ul + p, ul + ul, ul + ol, ol + ol, ol + ul, ul + table, ol + table { margin-top: 35px; }

b, strong { font-weight: 600; }

a { outline: 0; transition: all 0.5s; color: #2b56f5; }
a:link, a:visited { text-decoration: none; }
a:hover, a:focus, a:active { outline: 0; color: #46bdf4; }

.container { z-index: 5; }

@media (min-width: 992px) { .container { width: 940px; } }
/*! 03.0 - UTILITY */

.gaps-1x { height: 10px; }

.gaps-2x { height: 20px; }

.gaps-3x { height: 30px; }

.gaps-4x { height: 40px; }


@media (min-width: 576px) { .status { padding: 50px; }
  .status-sm { padding: 20px; } }
/** Tabs **/
.nav-tabs-line { margin-bottom: 30px; border-bottom: 2px solid #d3e0f3; }
.nav-tabs-line .nav-item { padding: 0 12px 0 0; margin-bottom: 0; }
.nav-tabs-line .nav-item:last-child { padding: 0; }
.nav-tabs-line .nav-link { border: none; padding: 6px 0; font-size: 10px; text-transform: uppercase; font-weight: 500; letter-spacing: -0.03em; color: rgba(103, 131, 184, 0.7); position: relative; }
.nav-tabs-line .nav-link:after { position: absolute; left: 0; bottom: -2px; content: ''; width: 0; height: 2px; background: #2b56f5; transition: all .4s; }
.nav-tabs-line .nav-link.active { color: #304073; }
.nav-tabs-line .nav-link.active:after { width: 100%; }
.nav-tabs-bordered { display: block; margin: 0 -7px; border-bottom: 0; display: flex; }
.nav-tabs-bordered .nav-item { margin-bottom: 0; flex-grow: 1; width: 33.33%; padding: 0 7px; text-transform: uppercase; font-weight: 600; margin-bottom: 20px; }
.nav-tabs-bordered .nav-link { text-align: center; display: block; border: 2px solid #d3e0f3; border-radius: 4px; color: #d3e0f3; padding: 12px 0 10px; font-size: 11px; height: 100%; }
.nav-tabs-bordered .nav-link.active { border: 2px solid #2b56f5; color: #2b56f5; }
.nav-tabs-icon { position: relative; width: 44px; margin: 0 auto 5px; }
.nav-tabs-icon img { transition: all .4s; width: 100%; }
.nav-tabs-icon img:first-of-type { opacity: 1; }
.nav-tabs-icon img:last-of-type { position: absolute; top: 0; left: 0; opacity: 0; }
.active .nav-tabs-icon img:first-of-type { opacity: 0; }
.active .nav-tabs-icon img:last-of-type { opacity: 1; }

@media (min-width: 420px) { .nav-tabs-line .nav-item { padding: 0 30px 0  0; }
  .nav-tabs-line .nav-link { font-size: 13px; letter-spacing: 0em; } }
@media (min-width: 576px) { .nav-tabs-bordered .nav-item { padding: 0 15px; margin-bottom: 25px; }
  .nav-tabs-bordered .nav-link { font-size: 14px; }
  .nav-tabs-icon { width: 64px; } }
@media (min-width: 768px) { .nav-tabs-line .nav-item { padding: 0 40px 0 0; }
  .nav-tabs-line .nav-link { font-size: 14px; } }


/** DropZone **/
.dz-clickable {  border: 1px dashed #d3e0f3; border-radius: 4px; padding: 20px 0 30px; text-align: center; }
.dz-message span { display: block; color: rgba(103, 131, 184, 0.6); }
.dz-message-text { font-size: 13px; }
.dz-message-or { font-size: 16px; margin-bottom: 4px; text-transform: uppercase; }
.dz-preview { margin-top: 20px; position: relative; }
.dz-image img { border-radius: 4px; border: 1px solid #d3e0f3; }
.dz-filename { font-size: 13px; }
.dz-progress { opacity: 1; z-index: 1000; pointer-events: none; position: absolute; height: 10px; top: 55px; left: 50%; width: 80px; transform: translateX(-50%); background: rgba(255, 255, 255, 0.9); border-radius: 5px; overflow: hidden; transition: all .4s; }
.dz-complete .dz-progress { opacity: 0; }
.dz-upload { background: #333; position: absolute; top: 0; left: 0; width: 0; transition: all .3s ease-in-out; }
.dz-error-message, .dz-success-message { font-size: 13px; }
.dz-error-mark, .dz-success-mark { position: absolute; top: 40px; left: 50%; transform: translateX(-50%); display: none; }
.dz-error-mark svg, .dz-success-mark svg { height: 40px !important; width: 40px !important; }
.dz-error-mark svg g, .dz-success-mark svg g { stroke-opacity: .7; stroke-width: 2; }
.dz-error-message { color: #ff0000; }
.dz-error-mark g { stroke: rgba(255, 0, 0, 0.7) !important; }
.dz-error .dz-error-mark { display: block; }
.dz-success-message { color: #00d285; }
.dz-success-mark g { stroke: rgba(0, 210, 133, 0.7) !important; }
.dz-success .dz-success-mark { display: block; }

.upload-title { color: #6783b8; display: block; font-size: 14px; padding-bottom: 8px; font-weight: 500; }

/** KYC Upload **/
.kyc-upload-title { color: #304073; margin-bottom: 12px; }
.kyc-upload-list li { color: #304073; position: relative; padding-left: 25px; }
.kyc-upload-list li:before { position: absolute; left: 0; top: 3px; font-family: Font Awesome; content: '\f00c'; font-weight: 700; color: #9eaecf; margin-right: 4px; font-size: 13px; }
.kyc-popup { padding: 30px; }

@media (min-width: 575px) { .kyc-upload-img { padding: 0 30px 0; }
  .kyc-popup { padding: 60px; } }
/** Form Style **/
.from-step-item { border-bottom: 1px solid #d3e0f3; }
.from-step-item:last-child { border-bottom: none; }
.from-step-heading { display: flex; align-items: center; padding: 20px; border-bottom: 1px solid #d3e0f3; }
.from-step-number { font-size: 20px; line-height: 24px; padding: 10px 0; flex-shrink: 0; font-weight: 500; color: #9eaecf; width: 48px; border-radius: 50%; text-align: center; border: 2px solid; margin-right: 15px; }
.from-step-head h4 { margin-bottom: 4px; font-weight: 600; }
.from-step-head p { color: #304073; font-size: 13px; }
.from-step-content { padding: 20px; flex-grow: 1; }




/** END */
