
@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<partial name="../Shared/_PublicHeaderPartial" />

<main class="nk-pages">
    <section class="section section-contact bg-transparent">

        <div class="container">
            <!-- Block  -->
            <div class="nk-block block-contact" id="contact">
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-6">
                        <div class="contact-wrap round split split-left split-lg-left bg-white">
                            <h5 class="title title-md">Contact Us</h5>
                            <form class="nk-form-submit" action="form/contact.php" method="post" novalidate="novalidate">
                                <div class="field-item">
                                    <input name="contact-name" type="text" class="input-line required" aria-required="true">
                                    <label class="field-label field-label-line">Your Name</label>
                                </div>
                                <div class="field-item">
                                    <input name="contact-email" type="email" class="input-line required email" aria-required="true">
                                    <label class="field-label field-label-line">Your Email</label>
                                </div>
                                <div class="field-item">
                                    <textarea name="contact-message" class="input-line input-textarea required" aria-required="true"></textarea>
                                    <label class="field-label field-label-line">Your Message</label>
                                </div>
                                <input type="text" class="d-none" name="form-anti-honeypot" value="">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-lg btn-grad">Submit</button>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-results"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-4">
                        <div class="contact-wrap split split-right split-lg-right bg-genitian bg-theme tc-light">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <ul class="contact-list">
                                    <li>
                                        <em class="contact-icon fas fa-building"></em>
                                        <div class="contact-text">
                                            <h6>ServicesDAO</h6>
                                            <span>15211 Dooley Branch <br> Beckershire, LA 121212</span>
                                        </div>
                                    </li>
                                    <li>
                                        <em class="contact-icon fas fa-envelope"></em>
                                        <div class="contact-text">
                                            <span>info@company.com</span>
                                        </div>
                                    </li>
                                    <li>
                                        <em class="contact-icon fas fa-paper-plane"></em>
                                        <div class="contact-text">
                                            <span><a href="https://t.me/devxdao/">Join us on Telegram</a></span>
                                        </div>
                                    </li>
                                </ul>
                                <div class="contact-social">
                                    <h6>Be a part of our community</h6>
                                    <ul class="social-links">
                                        <li><a href="https://www.facebook.com/Devxdao-552347902364862" target="_blank"><em class="social-icon social-icon-transparent fab fa-facebook-f"></em></a></li>
                                        <li><a href="https://twitter.com/DEVXDAO" target="_blank"><em class="social-icon social-icon-transparent fab fa-twitter"></em></a></li>
                                        <li><a href="https://www.youtube.com/channel/UCLP738SNZ9u6JLq9anVnj0Q" target="_blank"><em class="social-icon social-icon-transparent fab fa-youtube"></em></a></li>
                                        <li><a href="https://github.com/EKON-YAZILIM/ServicesDAO" target="_blank"><em class="social-icon social-icon-transparent fab fa-github"></em></a></li>
                                        <li><a href="https://t.me/devxdao/" target="_blank"><em class="social-icon social-icon-transparent fab fa-telegram"></em></a></li>
                                        <li><a href="https://www.linkedin.com/company/devxdao/about/" target="_blank"><em class="social-icon social-icon-transparent fab fa-linkedin"></em></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block  -->
        </div>
    </section>
</main>

<partial name="../Shared/_PublicFooterPartial" />