


<header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
    <!-- Header  -->
    <div class="header-main">
        <div class="header-container container">
            <div class="header-wrap">
                <!-- Logo -->
                <div class="header-logo logo animated" data-animate="fadeInDown" data-delay=".6">
                    <a href="./" class="logo-link">
                        <img class="logo-dark" src="images/logo.png" srcset="Public/images/logo2x.png 2x" alt="logo">
                        <img class="logo-light" src="images/logo-full-white.png" srcset="Public/images/logo-full-white2x.png 2x" alt="logo">
                    </a>
                </div>

                <!-- Menu Toogle  -->
                <div class="header-nav-toggle">
                    <a href="#" class="navbar-toggle" data-menu-toggle="header-menu">
                        <div class="toggle-line">
                            <span></span>
                        </div>
                    </a>
                </div>

                <!-- Menu  -->
                <div class="header-navbar animated" data-animate="fadeInDown" data-delay=".75">
                    <nav class="header-menu" id="example-menu-02">
                        <ul class="menu">
                            <li class="menu-item">
                                <a class="menu-link nav-link" href="../">Home</a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link nav-link" href="../Privacy-Policy">Privacy Policy</a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link nav-link" href="../Contact">Contact</a>
                            </li>

                        </ul>
                        <ul class="menu-btns">
                            <li><button class=" btn btn-md btn-auto btn-outline btn-primary" data-toggle="modal" data-target="#modal-login"><span>Login</span></button></li>
                            <li><button class=" btn btn-md btn-auto btn-outline btn-primary" data-toggle="modal" data-target="#modal-signUp"><span>Sign Up</span></button></li>
                        </ul>
                    </nav>
                    <div class="header-navbar-overlay"></div>
                </div><!-- .header-navbar  -->
            </div>
        </div>
    </div><!-- .header-main  -->
    <!-- Banner  -->
    <div class="header-banner bg-theme-grad">
        <div class="nk-banner">
            <div class="banner banner-page">
                <div class="banner-wrap">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-6 col-lg-9">
                                <div class="banner-caption cpn tc-light text-center">
                                    <div class="cpn-head">
                                        <h2 class="title ttu">Privacy Policy</h2>
                                        <p>We designed a brand-new cool design and lots of features, the latest version of the template supports advanced block base scenarios, and more.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .nk-banner -->
        <div class="nk-ovm shape-a-sm"></div>
    </div>
    <!-- .header-banner  -->
</header>

<main class="nk-pages">
    <section class="section bg-light section-about">
        <div class="container">
            <!-- Block  -->
            <div class="nk-block">
                <div class="row gutter-vr-30px align-items-center">
                    <div class="col-lg-12">
                        <div class="nk-block-text">
                            <h2 class="title">Privacy Policy</h2>
                            <p><strong>ICO Crypto is #1 best selling ICO Landing</strong> page, which helps you lunch and introduce your ICO Website. We designed it very carefully to make it more attractive, useful and fit any kind of ICO/Crypto website. </p>
                            <p>ICO Crypto sectetur adipiscing elit, sed do eiusmod tempor incididunt uteop labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercit ullamco laboris nisi commodo consequat.</p>
                            <p>We create cryptocurrency dipiscing elit, sed do eiusmod tempor incididunt uteop labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercit ullamco laboris nisi commodo consequat.</p>
                        </div>
                    </div>
                </div>
            </div><!-- .nk-block  -->
            <div class="hr"></div>
            <!-- Block  -->
            <div class="nk-block nk-block-about">
                <div class="row gutter-vr-30px align-items-center justify-content-between">
                    <div class="col-md-4 col-lg-3">
                        <div class="nk-block-text">
                            <h2 class="title title-lg">ICO Crypto <br>you can trust</h2>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-8">
                        <div class="nk-block-text">
                            <p class="lead">We're build a comprehensive template to help to create ICO Website with ultimate simplicity &amp; easy to use. In ICO Crypto, we believe that, adipiscing elit do eiusmod tempor incididunt uteop labore et dolore magna aliqua. </p>
                            <p>Ut enim ad minim veniam, nostrud exercit ullamco laboris nisi commodo consequat. Tempor incididunt uteop labore et dolore magna aliqua. Ut enim ad minim veniam ostrud exercit.</p>
                        </div>
                    </div>
                </div>
            </div><!-- .nk-block  -->
            <div class="hr"></div>
            <!-- Block  -->
            <div class="nk-block nk-block-about">
                <div class="row gutter-vr-30px align-items-center justify-content-between">
                    <div class="col-md-4 col-lg-3">
                        <div class="nk-block-text">
                            <h2 class="title title-lg">Our Mission</h2>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-8">
                        <div class="nk-block-text">
                            <p class="lead">Our Mission is to create next generation ICO Landing Page template. Ut enim ad minim veniam, nostrud exercit ullamco laboris nisi commodo. Tempor incididunt uteop labore et dolore magna aliqua nostrud exercit.</p>
                        </div>
                    </div>
                </div>
            </div><!-- .nk-block  -->

        </div>
    </section>
    <!-- // -->
</main>

<footer class="nk-footer bg-theme-grad">
    <section class="section section-footer tc-light bg-transparent">
        <div class="container">
            <!-- Block  -->
            <div class="nk-block block-footer">
                <div class="row">
                    <div class="col-lg-2 col-sm-4 mb-4 mb-sm-0">
                        <div class="wgs wgs-menu">
                            <h6 class="wgs-title">Company</h6>
                            <div class="wgs-body">
                                <ul class="wgs-links">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Meet Our Team</a></li>
                                    <li><a href="#">Advisors</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Insights</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-2 col-sm-4 mb-4 mb-sm-0">
                        <div class="wgs wgs-menu">
                            <h6 class="wgs-title">Legal</h6>
                            <div class="wgs-body">
                                <ul class="wgs-links">
                                    <li><a href="#">Terms &amp; Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Terms of Sales</a></li>
                                    <li><a href="#">Whitepaper</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-2 col-sm-4 mb-4 mb-sm-0">
                        <div class="wgs wgs-menu">
                            <h6 class="wgs-title">Quick Links</h6>
                            <div class="wgs-body">
                                <ul class="wgs-links">
                                    <li><a href="#">Ecosystems</a></li>
                                    <li><a href="#">Tokens</a></li>
                                    <li><a href="#">Roadmaps</a></li>
                                    <li><a href="#">Faqs</a></li>
                                    <li><a href="#">Login</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-6 mb-4 mb-lg-0 order-lg-first">
                        <div class="wgs wgs-text">
                            <div class="wgs-body">
                                <a href="./" class="wgs-logo">
                                    <img src="images/logo-full-white.png" srcset="images/logo-full-white2x.png 2x" alt="logo">
                                </a>
                                <p>Copyright © 2018 ICO Crypto. <br>ABN: 2018AD947. All rights reserved. </p>
                                <p class="copyright-text">Template by <a href="https://softnio.com/">Softnio</a>. Handcrafted by iO.</p>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block  -->
        </div>

    </section>
    <div class="nk-ovm shape-b"></div>
</footer>

<div class="preloader"><span class="spinner spinner-round"></span></div>
