@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<partial name="../Shared/_PublicHeaderPartial" />

<main class="nk-pages">
    <section class="section section-contact bg-transparent">
        <div class="container">
            <!-- Block  -->
            <div class="nk-block block-contact" id="contact">
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-10">
                        <div class="contact-wrap round split split-left split-lg-left bg-white">
                            <h5 class="title title-md">Proposal Form</h5>
                            <form class="nk-form-submit" action="form/contact.php" method="post" novalidate="novalidate">
                                <div class="field-item">
                                    <input name="jobName" type="text" class="input-line required" aria-required="true">
                                    <label class="field-label field-label-line">Type of Job</label>
                                </div>
                                <div class="field-item">
                                    <textarea name="exp" type="text" class="input-line input-textarea required" aria-required="true"></textarea>
                                    <label class="field-label field-label-line">Job Explanation</label>
                                </div>
                                <div class="field-item">
                                    <input name="lang" type="text" class="input-line required" aria-required="true">
                                    <label class="field-label field-label-line">Language of Code Review</label>
                                </div>
                                <div class="field-item">
                                    <input name="price" type="text" class="input-line required" aria-required="true">
                                    <label class="field-label field-label-line">Total Price for Job ($)</label>
                                </div>
                                <div class="field-item">
                                    <input name="time" type="text" class="input-line required" aria-required="true">
                                    <label class="field-label field-label-line">Time Expectations for Job Completion</label>
                                </div>
                                <input type="text" class="d-none" name="form-anti-honeypot" value="">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-lg btn-grad">Submit</button>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-results"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block  -->
        </div>
    </section>
</main>

<partial name="../Shared/_PublicFooterPartial" />