@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@{
    Layout = "../Shared/_PublicLayout.cshtml";
}

<header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
    <!-- Header  -->
    <div class="header-main">
        <div class="header-container container">
            <div class="header-wrap">
                <!-- Logo -->
                <div class="header-logo logo animated" data-animate="fadeInDown" data-delay=".6">
                    <a href="./" class="logo-link">
                        <img class="logo-dark" src="../Public/images/crdao-newlogo-dark.png" srcset="../Public/images/crdao-newlogo-dark.png 2x" alt="logo">
                        <img class="logo-light" src="../Public/images/crdao-newlogo-light.png" srcset="../Public/images/crdao-newlogo-light.png 2x" alt="logo">
                    </a>
                </div>

                <!-- Menu Toogle  -->
                <div class="header-nav-toggle">
                    <a href="#" class="navbar-toggle" data-menu-toggle="header-menu">
                        <div class="toggle-line">
                            <span></span>
                        </div>
                    </a>
                </div>

                <!-- Menu  -->
                <div class="header-navbar animated" data-animate="fadeInDown" data-delay=".75">
                    <nav class="header-menu" id="header-menu">
                        <ul class="menu">
                            <li class="menu-item">
                                <a class="menu-link nav-link" href="../Price-Discovery">Price Discovery</a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link nav-link" target="_blank" href="../Public/ossagtc-v2.pdf">Terms & Conditions</a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link nav-link" target="_blank" href="../Public/CRDAO-Whitepaper-Version4.pdf">Whitepaper</a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link nav-link" href="../Contact">Contact</a>
                            </li>
                        </ul>

                        @if (httpContextAccessor.HttpContext.Session.GetInt32("UserID") != null)
                        {
                            <ul class="menu-btns">
                                <li><button class=" btn btn-md btn-auto btn-outline btn-primary" onclick="window.location.href='../Home'"><span>Dashboard</span></button></li>
                            </ul>
                        }
                        else
                        {
                            <ul class="menu-btns">
                                <li><button class=" btn btn-md btn-auto btn-outline btn-primary" data-toggle="modal" data-target="#modal-login"><span>Login</span></button></li>
                                <li><button class=" btn btn-md btn-auto btn-outline btn-primary" data-toggle="modal" data-target="#modal-signUp"><span>Sign Up</span></button></li>
                            </ul>
                        }
                    </nav>
                    <div class="header-navbar-overlay"></div>
                </div><!-- .header-navbar  -->
            </div>
        </div>
    </div><!-- .header-main  -->
    <!-- Banner  -->
    <div class="header-banner bg-theme-grad">
        <div class="nk-banner">
            <div class="banner banner-fs banner-pd-lg">
                <div class="banner-wrap">
                    <div class="container">
                        <div class="row gutter-vr-30px align-items-center justify-content-lg-between justify-content-center">
                            <div class="col-lg-5 col-sm-9 order-lg-last">
                                <div class="banner-gfx-re-s3 my-0 animated" data-animate="fadeInUp" data-delay="1">
                                    <img src="../Public/images/gfx3.png" alt="header">
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-7 col-xl-6 col-sm-10 text-center text-lg-left">
                                <div class="banner-caption cpn tc-light">
                                    <div class="cpn-head">
                                        <h1 class="title title-md animated" data-animate="fadeInUp" data-delay="1.1">Decentralized Code Reviews</h1>
                                    </div>
                                    <div class="cpn-text cpn-text-light">
                                        <p class="lead animated" data-animate="fadeInUp" data-delay="1.2">CRDAO provides fully transparent, competitive, high quality code and standards reviews.</p>
                                    </div>
                                    <div class="cpn-action mt-0">
                                        <div class="cpn-btns pt-4 animated" data-animate="fadeInUp" data-delay="1.3">
                                            <ul class="btn-grp">
                                                <li><button href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-signUp">Get Started</button></li>
                                                <li><a href="./Contact" class="btn btn-outline btn-primary on-bg-theme-alt btn-lg">Contact Us</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div>
                </div>
            </div>
        </div><!-- .nk-banner -->
        <div class="nk-ovm mask-f mask-contain-bottom shape-a2"></div>
    </div>
    <!-- .header-banner  -->
</header>

<main class="nk-pages">
    <section class="bg-transparent over-up over-up-xl-s2 pdt-0 pb-5">
        <div class="ui-mask-right ui-mask-s8"></div>
        <div class="container">
            <!-- Block  -->
            <div class="nk-block nk-block-features-s3">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-10">
                        <div class="feature feature-center card card-lg-y animated" data-animate="fadeInUp" data-delay="1.5">
                            <div class="feature-icon feature-icon-bg-grd feature-icon-bg-grd-s2">
                                <em class="icon ikon ikon-lock icon-grd icon-lg-s2"></em>
                            </div>
                            <div class="feature-text">
                                <h4 class="title title-md title-dark mb-4">Transparent</h4>
                                <p class="text-justify">We encourage prospective clients to post their code (functionality) review jobs on the CRDAO portal to experience the benefits of our open and fully transparent bidding process.</p>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-4 col-md-10">
                        <div class="feature feature-center card card-lg-y animated" data-animate="fadeInUp" data-delay="1.4">
                            <div class="feature-icon feature-icon-bg-grd feature-icon-bg-grd-s1">
                                <em class="icon ikon ikon-user icon-grd icon-lg-s2"></em>
                            </div>
                            <div class="feature-text">
                                <h4 class="title title-md title-dark mb-4">Agile</h4>
                                <p class="text-justify">Speed in code reviews. CRDAO provides smart contract deposits and accountability. Client controls the code review process through smart contracts.</p>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-4 col-md-10">
                        <div class="feature feature-center card card-lg-y animated" data-animate="fadeInUp" data-delay="1.6">
                            <div class="feature-icon feature-icon-bg-grd feature-icon-bg-grd-s3">
                                <em class="icon ikon ikon-shiled-3 icon-grd icon-lg-s2"></em>
                            </div>
                            <div class="feature-text">
                                <h4 class="title title-md title-dark mb-4">Decentralized</h4>
                                <p class="text-justify">Community and crowd wisdom monitor code review quality. Community governance ensures constant evolution for the most cutting edge system features.</p>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block  -->
        </div>
    </section>
    <!-- // -->

    <section id="about-us" class="pdt-0 ov-v">
        <div class="ui-mask-left ui-mask-s9"></div>
        <div class="container">
            <!-- Block  -->
            <div class="nk-block nk-block-text-wrap">
                <div class="row align-items-center gutter-vr-30px justify-content-between gutter-vr-30px">
                    <div class="col-lg-5 col-mb-9 m-auto order-first order-lg-last">
                        <div class="nk-block-img animated" data-animate="fadeInUp" data-delay=".3">
                            <img src="../Public/images/gfx-z-g.png" alt="app">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="nk-block-text animated" data-animate="fadeInUp" data-delay=".2">
                            <div class="nk-block-shade"></div>
                            <h3 class="title title-dark title-regular">Why CodeReview DAO ?</h3>
                            <p>The CRDAO exists to serve the greater digital asset and web 3 communities, as well as the computer science community at large, with fully transparent, competitive, high quality code and standards reviews.</p>
                            <p>The CRDAO provides ONLY high-level functionality code reviews. Over time, other code review categories, such as security audits, may be added to the CRDOA services portfolio.</p>
                        </div>
                    </div>
                </div><!-- .row -->
            </div><!-- .block  -->
        </div>
    </section>
    <!-- // -->

    <section class="section">

        <div class="container">
            <h3 class="title title-dark title-regular animated" data-animate="fadeInUp" data-delay=".1">Client Benefits</h3>
            <h5 class="animated" data-animate="fadeInUp" data-delay=".1">The CRDAO offers several key comparative advantages in the code review process: </h5>
            <!-- Block -->
            <div class="nk-block nk-block-features mt-5">

                <div class="row">
                    <div class="col-lg-3">
                        <div class="feature animated" data-animate="fadeInUp" data-delay=".1">
                            <div class="feature-icon dot">
                                <em class="icon ikon ikon-document"></em>
                            </div>
                            <div class="feature-text">
                                <h5 class="title title-sm">1.</h5>
                                <p class="text-justify">Full transparency</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="feature animated" data-animate="fadeInUp" data-delay=".2">
                            <div class="feature-icon dot">
                                <em class="icon ikon ikon-donught"></em>
                            </div>
                            <div class="feature-text">
                                <h5 class="title title-sm">2.</h5>
                                <p class="text-justify">Price discovery for code reviews through bidding process</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="feature animated" data-animate="fadeInUp" data-delay=".3">
                            <div class="feature-icon dot">
                                <em class="icon ikon ikon-globe"></em>
                            </div>
                            <div class="feature-text">
                                <h5 class="title title-sm">3.</h5>
                                <p class="text-justify">Speed in code reviews</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="feature animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="feature-icon dot">
                                <em class="icon ikon ikon-paricle-alt"></em>
                            </div>
                            <div class="feature-text">
                                <h5 class="title title-sm">4.</h5>
                                <p class="text-justify">Community and crowd wisdom monitor code review quality</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <div class="feature">
                            <div class="feature-icon dot">
                                <em class="icon ikon ikon-shiled-alt"></em>
                            </div>
                            <div class="feature-text animated" data-animate="fadeInUp" data-delay=".5">
                                <h5 class="title title-sm">5.</h5>
                                <p class="text-justify">Community governance ensures constant evolution for the most cutting edge system features</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="feature animated" data-animate="fadeInUp" data-delay=".6">
                            <div class="feature-icon dot">
                                <em class="icon ikon ikon-wallet-digital"></em>
                            </div>
                            <div class="feature-text">
                                <h5 class="title title-sm">6.</h5>
                                <p class="text-justify">Smart contract deposits and accountability</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="feature animated" data-animate="fadeInUp" data-delay=".7">
                            <div class="feature-icon dot">
                                <em class="icon ikon ikon-document-3"></em>
                            </div>
                            <div class="feature-text">
                                <h5 class="title title-sm">7.</h5>
                                <p class="text-justify">Client controls the code review process through smart contracts</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">

                    </div>
                </div>

            </div><!-- .block -->
        </div>

    </section>
    <!-- // -->

    <section class="section section-roadmap pt-0 pb-0" id="roadmap">

        <div class="container">
            <!-- Section Head -->
            <div class="section-head text-center wide-auto">
                <h6 class="title title-xs title-light">CRDAO Onboarding Flow</h6>
                <h2 class="title title-lg title-dark">How CRDAO onboarding works?</h2>
            </div><!-- .section-head -->
            <!-- Block -->
            <div class="nk-block nk-block-roadmap">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="roadmap-wrap">
                            <div class="roadmap-line"></div>
                  
                            <div class="roadmap roadmap-left">
                                <i class="fas fa-file-invoice" style="position: absolute;left: 539px;top: 55px;font-size: 70px;color: #8ca2e5;"></i>
                                <div class="roadmap-step p-4 mt-5">
                                    <div class="roadmap-head">
                                        <span class="roadmap-title">JOB POSTING</span>
                                    </div>
                                    <p>Internal or public job poster posts a code review job.</p>
                                </div>
                            </div>
                    
                            <div class="roadmap roadmap-right">
                                <i class="fas fa-gavel" style="position: absolute; left: 300px; top: 15px; font-size: 70px; color: #8ca2e5;"></i>

                                <div class="roadmap-step p-4">
                                    <div class="roadmap-head">
                                        <span class="roadmap-title">AUCTION</span>
                                    </div>
                                    <p class="text-justify">Any external, non-CRDAO person is eligible to bid to provide a functionality review for the CRDAO via the open bidding portal on the CRDAO webpage.</p>
                                </div>
                            </div>
                     
                            <div class="roadmap roadmap-left">
                                <div class="roadmap-step">
                                    <div class="roadmap-head">
                                        <span class="roadmap-title">CODE REVIEW</span>
                                    </div>
                                    <p class="text-justify"><b>If the CRDAO client selects an external code review bid as the winning bid, the following procedure is followed to onboard the code reviewer as a new CRDAO voting associate (VA):</b></p>
                                    <ul class="list list-dot roadmap-step-list">
                                        <li class="text-justify">
                                            The external candidate presents the code review to the CRDAO VA community via the CRDAO portal
                                        </li>
                                        <li class="text-justify">
                                            The CRDAO VA community and external viewers can comment on the evidence of code review performance
                                        </li>
                                    </ul>
                                </div>
                            </div>
                   
                            <div class="roadmap roadmap-right">
                                <i class="fas fa-vote-yea" style="position: absolute; left: 300px; top: 15px; font-size: 70px; color: #8ca2e5;"></i>

                                <div class="roadmap-step">
                                    <div class="roadmap-head">
                                        <span class="roadmap-title">VOTE</span>
                                    </div>
                                    <p class="text-justify"><b>The CRDAO VA community votes on the code review performance based on the evidence provided.</b></p>
                                    <ul class="list list-dot roadmap-step-list">
                                        <li class="text-justify">
                                            A downvote will result in no VA status eligibility for the work performed by external person
                                        </li>
                                        <li class="text-justify">
                                            An upvote  results in VA Status eligibility. If, after request for feedback from the CRDAO VA community, the external code reviewer indicates an interest in becoming a CRDAO VA, the external code reviewer may apply for VA status. Such application will be subject to CRDAO VA community onboarding vote, which follows the regular voting and staking metrics of the CRDAO.
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
      
            </div>
            <!-- Block -->
        </div>

    </section>
    <!-- // -->
</main>

<footer class="nk-footer bg-theme-grad ov-h">
    <section class="section section-t-xl tc-light pdb-0 animated" data-animate="fadeInUp" data-delay=".1">
        <div class="container">
            <!-- Block  -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8 col-mb-9">
                        <div class="section-head section-head-sm wide-auto-sm text-center">
                            <h4 class="title">Subscribe to Us</h4>
                            <p>If you want to get update news please subscribe to us.</p>
                        </div>
                        <form action="form/subscribe.php" class="nk-form-submit" method="post">
                            <div class="field-inline field-split bg-white shadow-soft">
                                <div class="field-wrap d-flex align-items-center">
                                    <label class="label-inline mb-0 d-none d-sm-block"><i class="mt-1 icon fas fa-envelope"></i></label>
                                    <input class="input-solid input-solid-lg required email" type="text" name="contact-email" placeholder="Enter your email">
                                    <input type="text" class="d-none" name="form-anti-honeypot" value="">
                                </div>
                                <div class="submit-wrap">
                                    <button class="btn btn-primary">Subscribe</button>
                                </div>
                            </div>
                            <div class="form-results"></div>
                        </form>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="contact-social">                          
                        <ul class="social-links">
                            <li><a href="https://github.com/EKON-YAZILIM/ServicesDAO" target="_blank"><em class="social-icon social-icon-transparent fab fa-github"></em></a></li>
                            <li><a href="https://www.youtube.com/channel/UCRcvfCJVbb7SfNOodi461xw/videos" target="_blank"><em class="social-icon social-icon-transparent fab fa-youtube"></em></a></li>
                            <li><a href="https://twitter.com/crdao_dev" target="_blank"><em class="social-icon social-icon-transparent fab fa-twitter"></em></a></li>
                            <li><a href="https://www.linkedin.com/company/crdao" target="_blank"><em class="social-icon social-icon-transparent fab fa-linkedin"></em></a></li>
                            <li><a href="https://t.me/CodeReviewDAO" target="_blank"><em class="social-icon social-icon-transparent fab fa-telegram"></em></a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- .block  -->

        </div>
    </section>
    <section class="section tc-light animated" data-animate="fadeInUp" data-delay=".2">
        <div class="container">
            <div class="nk-block">
                <div class="gutter-vr-15px px row justify-content-between align-items-center text-center text-sm-left">
                    <div class="col-lg-5 col-sm-8">
                        <div class="copyright-text copyright-text-s4">
                            <p>© Copyright 2021, ServicesDAO. All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 text-sm-right">
                        <ul class="footer-links">
                            <li><a href="./Privacy-Policy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="nk-ovm mask-f-footer shape-z3"></div>
</footer>

<!-- Loading Spinner -->
<div class="preloader preloader-alt no-split"><span class="spinner spinner-alt"><img class="spinner-brand" src="../Public/images/crdao-newlogo-light.png" alt=""></span></div>