@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@{
    Layout = "../Shared/_PublicLayout.cshtml";
}

<header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
    <!-- Header  -->
    <div class="header-main">
        <div class="header-container container">
            <div class="header-wrap">
                <!-- Logo -->
                <div class="header-logo logo animated" data-animate="fadeInDown" data-delay=".6">
                    <a href="./" class="logo-link">
                        <img class="logo-dark" src="../Public/images/crdao-logo-dark.png" srcset="../Public/images/crdao-logo-dark.png 2x" alt="logo">
                        <img class="logo-light" src="../Public/images/crdao-logo-light.png" srcset="../Public/images/crdao-logo-light.png 2x" alt="logo">
                    </a>
                </div>

                <!-- Menu Toogle  -->
                <div class="header-nav-toggle">
                    <a href="#" class="navbar-toggle" data-menu-toggle="header-menu">
                        <div class="toggle-line">
                            <span></span>
                        </div>
                    </a>
                </div>

                <!-- Menu  -->
                <div class="header-navbar animated" data-animate="fadeInDown" data-delay=".75">
                    <nav class="header-menu" id="header-menu">
                        <ul class="menu">
                            <li class="menu-item">
                                <a class="menu-link nav-link" href="../Privacy-Policy">Privacy Policy</a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link nav-link" href="../Contact">Contact</a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link nav-link" href="../Price-Discovery">Price Discovery</a>
                            </li>
                        </ul>

                        @if (httpContextAccessor.HttpContext.Session.GetInt32("UserID") != null)
                        {
                            <ul class="menu-btns">
                                <li><button class=" btn btn-md btn-auto btn-outline btn-primary" onclick="window.location.href='../Home'"><span>Dashboard</span></button></li>
                            </ul>
                        }
                        else
                        {
                            <ul class="menu-btns">
                                <li><button class=" btn btn-md btn-auto btn-outline btn-primary" data-toggle="modal" data-target="#modal-login"><span>Login</span></button></li>
                                <li><button class=" btn btn-md btn-auto btn-outline btn-primary" data-toggle="modal" data-target="#modal-signUp"><span>Sign Up</span></button></li>
                            </ul>
                        }
                    </nav>
                    <div class="header-navbar-overlay"></div>
                </div><!-- .header-navbar  -->
            </div>
        </div>
    </div><!-- .header-main  -->
    <!-- Banner  -->
    <div class="header-banner bg-theme-grad">
        <div class="nk-banner">
            <div class="banner banner-fs banner-pd-lg">
                <div class="banner-wrap">
                    <div class="container">
                        <div class="row gutter-vr-30px align-items-center justify-content-lg-between justify-content-center">
                            <div class="col-lg-5 col-sm-9 order-lg-last">
                                <div class="banner-gfx-re-s3 my-0 animated" data-animate="fadeInUp" data-delay="1">
                                    <img src="../Public/images/gfx3.png" alt="header">
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-7 col-xl-6 col-sm-10 text-center text-lg-left">
                                <div class="banner-caption cpn tc-light">
                                    <div class="cpn-head">
                                        <h1 class="title title-md animated" data-animate="fadeInUp" data-delay="1.1">Decentralized Code Reviews</h1>
                                    </div>
                                    <div class="cpn-text cpn-text-light">
                                        <p class="lead animated" data-animate="fadeInUp" data-delay="1.2">CRDAO provides fully transparent, cheap, high quality code and standards reviews.</p>
                                    </div>
                                    <div class="cpn-action mt-0">
                                        <div class="cpn-btns pt-4 animated" data-animate="fadeInUp" data-delay="1.3">
                                            <ul class="btn-grp">
                                                <li><button href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-signUp">Get Started</button></li>
                                                <li><a href="./Contact" class="btn btn-outline btn-primary on-bg-theme-alt btn-lg">Contact Us</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div>
                </div>
            </div>
        </div><!-- .nk-banner -->
        <div class="nk-ovm mask-f mask-contain-bottom shape-a2"></div>

        <!-- Place Particle Js -->
        <div id="particles-bg" class="particles-container particles-bg"></div>
    </div>
    <!-- .header-banner  -->
</header>

<main class="nk-pages">
    <section class="bg-transparent over-up over-up-xl-s2 pdt-0 pb-5">
        <div class="ui-mask-right ui-mask-s8"></div>
        <div class="container">
            <!-- Block  -->
            <div class="nk-block nk-block-features-s3">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-10">
                        <div class="feature feature-center card card-lg-y animated" data-animate="fadeInUp" data-delay="1.5">
                            <div class="feature-icon feature-icon-bg-grd feature-icon-bg-grd-s2">
                                <em class="icon ikon ikon-lock icon-grd icon-lg-s2"></em>
                            </div>
                            <div class="feature-text">
                                <h4 class="title title-md title-dark mb-4">Transperent</h4>
                                <p class="text-justify">We encourage prospective clients to post their code (functionality) review jobs on the CRDAO portal to experience the benefits of our open and fully transparent bidding process.</p>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-4 col-md-10">
                        <div class="feature feature-center card card-lg-y animated" data-animate="fadeInUp" data-delay="1.4">
                            <div class="feature-icon feature-icon-bg-grd feature-icon-bg-grd-s1">
                                <em class="icon ikon ikon-user icon-grd icon-lg-s2"></em>
                            </div>
                            <div class="feature-text">
                                <h4 class="title title-md title-dark mb-4">Agile</h4>
                                <p class="text-justify">Speed in code reviews. CRDAO provides smart contract deposits and accountability. Client controls the code review process through smart contracts.</p>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-4 col-md-10">
                        <div class="feature feature-center card card-lg-y animated" data-animate="fadeInUp" data-delay="1.6">
                            <div class="feature-icon feature-icon-bg-grd feature-icon-bg-grd-s3">
                                <em class="icon ikon ikon-shiled-3 icon-grd icon-lg-s2"></em>
                            </div>
                            <div class="feature-text">
                                <h4 class="title title-md title-dark mb-4">Decentralized</h4>
                                <p class="text-justify">Community and crowd wisdom monitor code review quality. Community governance ensures constant evolution for the most cutting edge system features.</p>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block  -->
        </div>
    </section>
    <!-- // -->
    <section id="about-us" class="py-5 pdt-0 ov-v">
        <div class="ui-mask-left ui-mask-s9"></div>
        <div class="container">
            <!-- Block  -->
            <div class="nk-block nk-block-text-wrap">
                <div class="row align-items-center gutter-vr-30px justify-content-between gutter-vr-30px">
                    <div class="col-lg-5 col-mb-9 m-auto order-first order-lg-last">
                        <div class="nk-block-img animated" data-animate="fadeInUp" data-delay=".3">
                            <img src="../Public/images/gfx-z-g.png" alt="app">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="nk-block-text animated" data-animate="fadeInUp" data-delay=".2">
                            <div class="nk-block-shade"></div>
                            <h3 class="title title-dark title-regular">Why CodeReview DAO ?</h3>
                            <p>The CRDAO exists to serve the greater digital asset and web 3 communities, as well as the computer science community at large, with fully transparent, cheap, high quality code and standards reviews.</p>
                            <p>The CRDAO provides ONLY high-level functionality code reviews. Over time, other code review categories, such as security audits, may be added to the CRDOA services portfolio.</p>              
                        </div>
                    </div>
                </div><!-- .row -->
            </div><!-- .block  -->
        </div>
    </section>
    <!-- // -->
    <section class="pb-5">
        <div class="container">

            <!-- Section Head -->
            <div class="mb-5">
                <h3 class="title title-dark title-regular">CRDAO Onboarding Flow</h3>
            </div><!-- .section-head -->

            <div class="nk-block">
                <div class="row align-items-center justify-content-between gutter-vr-40px">
                    <div class="col-lg-5">
                        <ul class="nav tab-nav tab-nav-s3 tab-nav-vr mr-lg-3">
                            <li>
                                <a class="active" data-toggle="tab" href="#tab-1-1">
                                    <h5 class="title-md">1. Auction</h5>
                                    <p class="text-justify">
                                        Any external, non-CRDAO person is eligible to bid to provide a functionality review for the CRDAO via the open bidding portal on the CRDAO webpage.
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-1-2">
                                    <h5 class="title-md">2. Winning Bid</h5>
                                    <p class="text-justify">If the CRDAO client selects an external code review bid as the winning bid, the following procedure is followed to onboard the code reviewer as a new CRDAO voting associate</p>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-1-3">
                                    <h5 class="title-md">3. Voting</h5>
                                    <p class="text-justify">
                                        The external candidate presents the code review to the CRDAO VA community via the CRDAO portal.
                                        The CRDAO VA community and external viewers can comment on the evidence of code review performance.
                                        The CRDAO VA community votes on the code review performance based on the evidence provided.
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-1-4">
                                    <h5 class="title-md">4. Voting Result</h5>
                                    <p class="text-justify">
                                        A downvote will result in no VA status eligibility for the work performed by external person
                                        An upvote  results in VA Status eligibility. If, after request for feedback from the CRDAO VA community, the external code reviewer indicates an interest in becoming a CRDAO VA, the external code reviewer may apply for VA status. Such application will be subject to CRDAO VA community onboarding vote, which follows the regular voting and staking metrics of the CRDAO.

                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-1-1">
                                <div>
                                    <img class="animated fadeInUp mb-5" data-animate="fadeInUp" data-delay=".3" src="../Public/images/screen1.png" alt="">
                                    <img class="animated fadeInUp" data-animate="fadeInUp" data-delay=".7" src="../Public/images/screen2.png" alt="">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-1-2">
                                <div>
                                    <img class="animated fadeInUp mb-5" data-animate="fadeInUp" data-delay=".3" src="../Public/images/screen2.png" alt="">
                                    <img class="animated fadeInUp" data-animate="fadeInUp" data-delay=".7" src="../Public/images/screen2.png" alt="">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-1-3">
                                <div>
                                    <img class="animated fadeInUp mb-5" data-animate="fadeInUp" data-delay=".3" src="../Public/images/screen2.png" alt="">
                                    <img class="animated fadeInUp" data-animate="fadeInUp" data-delay=".7" src="../Public/images/screen2.png" alt="">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-1-4">
                                <div> 
                                    <img class="animated fadeInUp mb-5" data-animate="fadeInUp" data-delay=".3" src="../Public/images/screen2.png" alt="">
                                    <img class="animated fadeInUp" data-animate="fadeInUp" data-delay=".7" src="../Public/images/screen2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .row -->
            </div>

        </div>
    </section>
    <!-- // -->
</main>

<footer class="nk-footer bg-theme-grad ov-h">
    <section class="section section-t-xl tc-light pdb-0 animated" data-animate="fadeInUp" data-delay=".1">
        <div class="container">
            <!-- Block  -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8 col-mb-9">
                        <div class="section-head section-head-sm wide-auto-sm text-center">
                            <h4 class="title">Subscribe to Us</h4>
                            <p>If you want to get update news please subscribe to us.</p>
                        </div>
                        <form action="form/subscribe.php" class="nk-form-submit" method="post">
                            <div class="field-inline field-split bg-white shadow-soft">
                                <div class="field-wrap d-flex align-items-center">
                                    <label class="label-inline mb-0 d-none d-sm-block"><i class="mt-1 icon fas fa-envelope"></i></label>
                                    <input class="input-solid input-solid-lg required email" type="text" name="contact-email" placeholder="Enter your email">
                                    <input type="text" class="d-none" name="form-anti-honeypot" value="">
                                </div>
                                <div class="submit-wrap">
                                    <button class="btn btn-primary">Subscribe</button>
                                </div>
                            </div>
                            <div class="form-results"></div>
                        </form>
                    </div>
                </div>
            </div><!-- .block  -->
        </div>
    </section>
    <section class="section tc-light animated" data-animate="fadeInUp" data-delay=".2">
        <div class="container">
            <div class="nk-block">
                <div class="gutter-vr-15px px row justify-content-between align-items-center text-center text-sm-left">
                    <div class="col-lg-4">
                        <ul class="social justify-content-center ml-n2">
                            <li><a href="https://www.facebook.com/Devxdao-552347902364862" target="_blank"><em class="social-icon social-icon-transparent fab fa-facebook-f"></em></a></li>
                            <li><a href="https://twitter.com/DEVXDAO" target="_blank"><em class="social-icon social-icon-transparent fab fa-twitter"></em></a></li>
                            <li><a href="https://www.youtube.com/channel/UCLP738SNZ9u6JLq9anVnj0Q" target="_blank"><em class="social-icon social-icon-transparent fab fa-youtube"></em></a></li>
                            <li><a href="https://github.com/EKON-YAZILIM/ServicesDAO" target="_blank"><em class="social-icon social-icon-transparent fab fa-github"></em></a></li>
                            <li><a href="https://t.me/devxdao/" target="_blank"><em class="social-icon social-icon-transparent fab fa-telegram"></em></a></li>
                            <li><a href="https://www.linkedin.com/company/devxdao/about/" target="_blank"><em class="social-icon social-icon-transparent fab fa-linkedin"></em></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-5 col-sm-8">
                        <div class="copyright-text copyright-text-s4">
                            <p>© Copyright 2021, ServicesDAO. All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 text-sm-right">
                        <ul class="footer-links">
                            <li><a href="./Privacy-Policy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="nk-ovm mask-f-footer shape-z3"></div>
</footer>

<!-- Loading Spinner -->
<div class="preloader preloader-alt no-split"><span class="spinner spinner-alt"><img class="spinner-brand" src="../Public/images/crdao-logo-light.png" alt=""></span></div>