@{
    Layout = "../Shared/_PublicLayout.cshtml";
}
@model List<Helpers.Models.WebsiteViewModels.AuctionViewModel>

<partial name="../Shared/_PublicHeaderPartial" />

<main class="nk-pages">
    <section class="section-contact bg-transparent section pt-5">
        <div class="container">
          

        </div>
    </section>
</main>

<partial name="../Shared/_PublicFooterPartial" />