@using PagedList.Core.Mvc
@using PagedList.Core
@model StaticPagedList<Helpers.Models.WebsiteViewModels.JobPostViewModel>

@{
    Layout = "../Shared/_MainLayout.cshtml";
}

<!-- Row -->
<div class="row d-flex mb-3">
    <div class="col-md-6 d-flex">
    <div class="input-group mb-2 float-right" style="max-width: 300px;">
            <span class="input-group-text"><i class="fas fa-filter"></i></span>
            <select class="form-select" id="jobStatusSelect">
                <option value="*" selected>All Jobs</option>
                <option value="AdminApprovalPending">Admin Approval Pending</option>
                <option value="DoSFeePending">DoS Fee Pending</option>
                <option value="KYCPending">KYC Pending</option>
                <option value="InternalAuction">Internal Auction</option>
                <option value="PublicAuction">Public Auction</option>
                <option value="AuctionCompleted">Auction Completed</option>
                <option value="InformalVoting">Informal Voting</option>
                <option value="FormalVoting">Formal Voting</option>
                <option value="Completed">Completed</option>
                <option value="Failed">Failed</option>
                <option value="Expired">Expired</option>
                <option value="Rejected">Rejected</option>
            </select>
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
        <button class="btn btn-primary" type="button" onclick="window.location.href='./New-Job';">
            <i class="fas fa-plus me-1"></i> Post New Job
        </button>
    </div>
</div>

<!-- Row -->
<div class="row">
    <div class="col-md-12">
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <div class="card mb-3">
                    <partial name="../Shared/_JobCardPartial.cshtml" model="item" />
                </div>
            }
        }
        else
        {
            <partial name="../Shared/_EmptyPartial.cshtml" view-data='new ViewDataDictionary(ViewData) { { "Message", "Job not found." } }' />
        }
    </div>
</div>

@if (Model.Count() > 0)
{
    @*############ PAGINATION ############*@
    <div class="row">
        <div class="col-md-12">
            <table class="my-3 w-100">
                <tr>
                    <td colspan="3" align="center">
                        <pager class="pager-container" list="@Model" options="@PagedListRenderOptions.Bootstrap4Full" asp-action="All-Jobs" asp-controller="Home" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
}

@section Scripts{

    <script>
        $(document).ready(function () {
            //Check if filter selected
            if (getQueryParameter("status") != null && getQueryParameter("status") != "") {
                $("#jobStatusSelect").val(getQueryParameter("status")).change();

                //Change pagination links according to status filter
                $('.page-link').each(function (i, obj) {
                    $(obj).attr("href", $(obj).attr("href") + "&status=" + getQueryParameter("status"))
                });
            }

            //Job status filter event
            $('#jobStatusSelect').on('change', function () {
                window.location.href = "../All-Jobs?status=" + this.value;
            });


        });
    </script>

}