@using DAO_WebPortal.Resources
@{
    Layout = "../Shared/_MainLayout.cshtml";

}

@Html.AntiForgeryToken()

<script src="../Home/lib/ckeditor/ckeditor.js"></script>

<div class="row my-3">
    <div class="col-md-12">
        <h4 class="mb-3">Job Posting Rules</h4>
        <p><small>1. The job description should be written in a way that is comprehensive and describes the details of the job.</small></p>
        <p><small>2. The completion criteria for the work should be clearly stated and should not allow any misunderstanding.</small></p>
        <p><small>3. Job posts will be available in forum after system admin approval.</small></p>
        <p><small>4. If no bids are received at the end of the internal auction and public auction period, the job post will be marked as expired.</small></p>
    </div>
</div>

<!--Row-->
<div class="row">
    <div class="col-md-12">
        <div class="form-group mb-4">
            <label class="mb-2" for="title"><b><i class="fas fa-heading"></i> Title</b></label>
            <input type="text" class="form-control" id="title" placeholder="Title of the job">
        </div>
        <div class="row my-3">
            <div class="col-md-6">
                <label class="mb-2" for="title"><b><i class="fas fa-coins mx-1"></i> Total Budget</b></label>
                <div class="input-group mb-3">
                    <span class="input-group-text">€</span>
                    <input class="form-control number" type="text" aria-label="Amount" placeholder="Expected job price in Euros" id="amount"><span class="input-group-text">.00</span>
                </div>
            </div>
            <div class="col-md-6">
                <label class="mb-2" for="title"><b><i class="fas fa-calendar-week mx-1"></i> Expected Time Frame</b></label>
                <div class="input-group mb-3">
                    <input class="form-control number" type="text" aria-label="Time Frame" placeholder="Time frame for job completion" id="time"><span class="input-group-text">days</span>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-6">
                <label class="mb-2" for="title"><b><i class="fas fa-hashtag mx-1"></i> Tags / Coding Language</b></label>
                <div class="input-group mb-3">
                    <input class="form-control" type="text" aria-label="Tags" placeholder="Related tags and coding languages (Comma seperated)" id="tags">
                </div>
            </div>
            <div class="col-md-6">
                <label class="mb-2" for="title"><b><i class="fas fa-code mx-1"></i> Code Url</b></label>
                <div class="input-group mb-3">
                    <input class="form-control" type="text" aria-label="CodeUrl" placeholder="Url of the repository or code file" id="codeurl">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="mb-2" for="description"><b><i class="fas fa-file mx-1"></i> Job Description</b></label>
            <textarea type="text" id="description" name="description"  placeholder="Job Description" rows="10"></textarea>
        </div>
        <div class="d-flex justify-content-end my-3">
            <button type="submit" class="btn btn-primary" onclick="NewJob();">Submit Job</button>
        </div>
    </div>
</div>

@section Scripts{

    <script>
    $(document).ready(function () {
        if (document.body.classList.contains('dark-theme')) {
            CKEDITOR.replace('description', {
                skin: 'moono-dark'
            });
        }
        else {
            CKEDITOR.replace('description', {
                skin: 'moono-lisa'
            });
        }
    });

    //Add new job function
    function NewJob() {

        $.confirm({
            title: 'Confirmation',
            content: '<b>By posting a job, you unconditionally and irrevocably agree: </b>' +

                '<div class="form-check m-2"><input class="form-check-input" type="checkbox" value="" id="checkConfirm1"><label class="form-check-label text-justify" for="flexCheckDefault">To be legally bound by the terms and conditions stated in your job posting and the winning bid selected by yourself; that a binding legal relationship is established between you and the winning bidder selected by yourself; to deposit the amount offered by the selected winning bid as remuneration into an escrow smart contract provided by CRDAO; and that unless specified otherwise in your job posting or the winning bid selected by yourself, the relationship between you, the winning bidder, and CRDAO is exclusively governed by the general terms and conditions of CRDAO</label></div>'
                +'<div class="form-check m-2"><input class="form-check-input" type="checkbox" value="" id="checkConfirm2"><label class="form-check-label text-justify" for="flexCheckDefault">I hereby acknowledge that any work product created by a bidder will be open source and never is or will be the sole property of the job poster.</label></div>'
            ,
            columnClass: 'col-md-8 col-md-offset-2',
            buttons: {
                cancel: {
                    text: 'Cancel'
                },
                confirm: {
                    text: 'Continue',
                    btnClass: 'btn btn-primary',
                    action: function () {

                        var confirmationControl = true;

                        for (var i = 1; i < 3; i++) {
                            var checked = $("#checkConfirm" + i).is(':checked');

                            if (checked == false) {
                                confirmationControl = false;
                            }
                        }

                        if (confirmationControl == false) {
                            toastr.warning("You must confirm agreements.");

                            return false;
                        }

                        //Create job model
                        var title = $('#title').val()
                        var amount = $('#amount').val();
                        var time = $('#time').val();
                        var codeurl = $('#codeurl').val();
                        var tags = $('#tags').val();
                        var description = CKEDITOR.instances["description"].getData();
                        var token = $('input[name="__RequestVerificationToken"]', token).val();

                        //Ajax post action
                        $.ajax({
                            type: "POST",
                            url: "../Home/New_Job_Post",
                            data: { "title": title, "amount": amount, "time": time, "description": description, "tags": tags, "codeurl": codeurl, "__RequestVerificationToken": token },
                            success: function (result) {
                                if (result.success) {
                                    window.location.href = "./My-Jobs";
                                }
                                else {
                                    toastr.warning(result.message);
                                }
                            },
                                failure: function (response) {
                                    toastr.warning("@Lang.ConnectionError");
                            },
                            error: function (response) {
                                    toastr.error("@Lang.UnexpectedError");
                            }
                        });


                    }

                }
            }
        });


        }
    </script>

}