@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}




<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header">
                <div class="titleContainer">
                    <h5 class="card-title" title="Services DAO Portal Scoping Grant">Services DAO Portal Sc.. </h5>
                    <small class="text-medium-emphasis">13.10.2021 , Ekin Keçeci</small>
                </div>
            </div>
            <div class="card-body cursorp" onclick="window.location.href='./Job-Detail/1'" >
                <p class="p-3 card-text">
                    This is a scoping/requirements grant. The objective of this grant is to gather requirements, and coordinate with the Services DAO  members to evaluate and further refine&improve the Services DAO portal development proposal. (https://portal.devxdao.com/app/proposal/246)
                </p>
                <p class="card-text"><small class="text-medium-emphasis">Last updated 3 mins ago</small></p>
            </div>
            <div class="card-footer">
                <a class="card-text me-2 cA" href="./Job-Detail/1">
                    <svg class="icon">
                        <use xlink:href="/Home/images/svg/free.svg#cil-comment-bubble"></use>
                    </svg> 12 Comment
                </a>
                <a class="card-text cA" href="#">
                    <svg class="icon">
                        <use xlink:href="/Home/images/svg/free.svg#cil-share"></use>
                    </svg> Share
                </a>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <div class="titleContainer">
                    <h5 class="card-title" title="Services DAO Portal Scoping Grant">Services DAO Portal Sc.. </h5>
                    <small class="text-medium-emphasis">12.10.2021 , Ebubekir Yardımcı</small>
                </div>
            </div>
            <div class="card-body cursorp" onclick="window.location.href='./Job-Detail/2'" >
                <p class="p-3 card-text">
                    This is a scoping/requirements grant. The objective of this grant is to gather requirements, and coordinate with the Services DAO  members to evaluate and further refine&improve the Services DAO portal development proposal. (https://portal.devxdao.com/app/proposal/246)
                </p>
                <p class="card-text"><small class="text-medium-emphasis">Last updated 14 mins ago</small></p>
            </div>
            <div class="card-footer">
                <a class="card-text me-2 cA" href="./Job-Detail/2">
                    <svg class="icon">
                        <use xlink:href="/Home/images/svg/free.svg#cil-comment-bubble"></use>
                    </svg> 125 Comment
                </a>
                <a class="card-text cA" href="#">
                    <svg class="icon">
                        <use xlink:href="/Home/images/svg/free.svg#cil-share"></use>
                    </svg> Share
                </a>
            </div>
        </div>
    </div>
</div>

