@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}




<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header">
                <div class="titleContainer">
                    <h5 class="card-title" title="Services DAO Portal Scoping Grant">Services DAO Portal Sc.. </h5>
                    <small class="text-medium-emphasis">13.10.2021 , Ekin Keçeci</small>
                </div>
            </div>
            <div class="card-body">
                <p class="p-3 card-text">
                    This is a scoping/requirements grant. The objective of this grant is to gather requirements, and coordinate with the Services DAO  members to evaluate and further refine&improve the Services DAO portal development proposal. (https://portal.devxdao.com/app/proposal/246)
                </p>
                <p class="card-text"><small class="text-medium-emphasis">Last updated 3 mins ago</small></p>
            </div>
            <div class="card-footer">
                <a class="card-text me-2 cA" data-coreui-toggle="collapse" href="#comments" aria-expanded="true" aria-controls="comments">
                    <svg class="icon">
                        <use xlink:href="/Home/images/svg/free.svg#cil-comment-bubble"></use>
                    </svg> 12 Comment
                </a>
                <a class="card-text cA" href="#">
                    <svg class="icon">
                        <use xlink:href="/Home/images/svg/free.svg#cil-share"></use>
                    </svg> Share
                </a>
            </div>
            <div id="comments" class="card-footer collapse">
                <div id="comments" class="comment-thread">
                    <!-- Comment 1 start -->
                    <div class="comment" id="comment-1">
                        <a href="#comment-1" class="comment-border-link">
                            <span class="sr-only">Jump to comment-1</span>
                        </a>
                        <div class="comment-heading">
                            <div class="comment-voting">
                                <img class="avatar-img" src="/Home/images/avatars/4.jpg" alt="somebody1">
                            </div>
                            <div class="comment-info">
                                <a href="#" class="comment-author">somebody1</a>
                                <p class="m-0">
                                    22 points &bull; 4 days ago
                                </p>
                            </div>
                        </div>
                        <div class="comment-body">
                            <p>
                                This is really great! I fully agree with what you wrote, and this is sure to help me out in the future. Thank you for posting this.
                            </p>
                            <a class="card-text me-2 ms-2 cA">
                                <svg class="icon">
                                    <use xlink:href="/Home/images/svg/free.svg#cil-caret-top"></use>
                                </svg> 124
                            </a>
                            <a class="card-text me-2 cA">
                                <svg class="icon">
                                    <use xlink:href="/Home/images/svg/free.svg#cil-caret-bottom"></use>
                                </svg> 53
                            </a>
                            <a class="card-text me-2 cA">
                                <svg class="icon">
                                    <use xlink:href="/Home/images/svg/free.svg#cil-comment-bubble"></use>
                                </svg> Reply
                            </a>
                        </div>
                        <div class="replies">
                            <div class="comment" id="comment-2">
                                <a href="#comment-2" class="comment-border-link">
                                    <span class="sr-only">Jump to comment-2</span>
                                </a>
                                <div class="comment-heading">
                                    <div class="comment-voting">
                                        <img class="avatar-img" src="/Home/images/avatars/2.jpg" alt="somebody2">
                                    </div>
                                    <div class="comment-info">
                                        <a href="#" class="comment-author">somebody2</a>
                                        <p class="m-0">
                                            22 points &bull; 4 days ago
                                        </p>
                                    </div>
                                </div>
                                <div class="comment-body">
                                    <p>
                                        This is really great! I fully agree with what you wrote, and this is sure to help me out in the future. Thank you for posting this.
                                    </p>
                                    <a class="card-text me-2 ms-2 cA">
                                        <svg class="icon">
                                            <use xlink:href="/Home/images/svg/free.svg#cil-caret-top"></use>
                                        </svg> 124
                                    </a>
                                    <a class="card-text me-2 cA">
                                        <svg class="icon">
                                            <use xlink:href="/Home/images/svg/free.svg#cil-caret-bottom"></use>
                                        </svg> 53
                                    </a>
                                    <a class="card-text me-2 cA">
                                        <svg class="icon">
                                            <use xlink:href="/Home/images/svg/free.svg#cil-comment-bubble"></use>
                                        </svg> Reply
                                    </a>
                                </div>
                                <div class="replies">
                                    <div class="comment" id="comment-3">
                                        <a href="#comment-3" class="comment-border-link">
                                            <span class="sr-only">Jump to comment-2</span>
                                        </a>
                                        <div class="comment-heading">
                                            <div class="comment-voting">
                                                <img class="avatar-img" src="/Home/images/avatars/1.jpg" alt="somebody6">
                                            </div>
                                            <div class="comment-info">
                                                <a href="#" class="comment-author">somebody6</a>
                                                <p class="m-0">
                                                    22 points &bull; 4 days ago
                                                </p>
                                            </div>
                                        </div>
                                        <div class="comment-body">
                                            <p>
                                                This is really great! I fully agree with what you wrote, and this is sure to help me out in the future. Thank you for posting this.
                                            </p>
                                            <a class="card-text me-2 ms-2 cA">
                                                <svg class="icon">
                                                    <use xlink:href="/Home/images/svg/free.svg#cil-caret-top"></use>
                                                </svg> 124
                                            </a>
                                            <a class="card-text me-2 cA">
                                                <svg class="icon">
                                                    <use xlink:href="/Home/images/svg/free.svg#cil-caret-bottom"></use>
                                                </svg> 53
                                            </a>
                                            <a class="card-text me-2 cA">
                                                <svg class="icon">
                                                    <use xlink:href="/Home/images/svg/free.svg#cil-comment-bubble"></use>
                                                </svg> Reply
                                            </a>
                                        </div>
                                    </div>
                                    <div class="comment" id="comment-4">
                                        <a href="#comment-4" class="comment-border-link">
                                            <span class="sr-only">Jump to comment-4</span>
                                        </a>
                                        <div class="comment-heading">
                                            <div class="comment-voting">
                                                <img class="avatar-img" src="/Home/images/avatars/1.jpg" alt="somebody7">
                                            </div>
                                            <div class="comment-info">
                                                <a href="#" class="comment-author">somebody7</a>
                                                <p class="m-0">
                                                    22 points &bull; 4 days ago
                                                </p>
                                            </div>
                                        </div>
                                        <div class="comment-body">
                                            <p>
                                                This is really great! I fully agree with what you wrote, and this is sure to help me out in the future. Thank you for posting this.
                                            </p>
                                            <a class="card-text me-2 ms-2 cA">
                                                <svg class="icon">
                                                    <use xlink:href="/Home/images/svg/free.svg#cil-caret-top"></use>
                                                </svg> 124
                                            </a>
                                            <a class="card-text me-2 cA">
                                                <svg class="icon">
                                                    <use xlink:href="/Home/images/svg/free.svg#cil-caret-bottom"></use>
                                                </svg> 53
                                            </a>
                                            <a class="card-text me-2 cA">
                                                <svg class="icon">
                                                    <use xlink:href="/Home/images/svg/free.svg#cil-comment-bubble"></use>
                                                </svg> Reply
                                            </a>
                                        </div>
                                    </div>
                                    <div class="comment">
                                        <div class="comment-heading">
                                            <div class="comment-voting">
                                                <img class="avatar-img" src="/Home/images/avatars/4.jpg" alt="somebody1">
                                            </div>
                                            <div class="comment-info">
                                                <a href="#" class="comment-author">somebody1</a>
                                                <p class="m-0">
                                                    22 points &bull; 4 days ago
                                                </p>
                                            </div>
                                        </div>
                                        <div class="comment-body">
                                            <p>
                                                This is really great! I fully agree with what you wrote, and this is sure to help me out in the future. Thank you for posting this.
                                            </p>
                                            <a class="card-text me-2 ms-2 cA">
                                                <svg class="icon">
                                                    <use xlink:href="/Home/images/svg/free.svg#cil-caret-top"></use>
                                                </svg> 124
                                            </a>
                                            <a class="card-text me-2 cA">
                                                <svg class="icon">
                                                    <use xlink:href="/Home/images/svg/free.svg#cil-caret-bottom"></use>
                                                </svg> 53
                                            </a>
                                            <a class="card-text me-2 cA">
                                                <svg class="icon">
                                                    <use xlink:href="/Home/images/svg/free.svg#cil-comment-bubble"></use>
                                                </svg> Reply
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment">
                                <div class="comment-heading">
                                    <div class="comment-voting">
                                        <img class="avatar-img" src="/Home/images/avatars/2.jpg" alt="somebody14">
                                    </div>
                                    <div class="comment-info">
                                        <a href="#" class="comment-author">somebody14</a>
                                        <p class="m-0">
                                            22 points &bull; 4 days ago
                                        </p>
                                    </div>
                                </div>
                                <div class="comment-body">
                                    <p>
                                        This is really great! I fully agree with what you wrote, and this is sure to help me out in the future. Thank you for posting this.
                                    </p>
                                    <a class="card-text me-2 ms-2 cA">
                                        <svg class="icon">
                                            <use xlink:href="/Home/images/svg/free.svg#cil-caret-top"></use>
                                        </svg> 124
                                    </a>
                                    <a class="card-text me-2 cA">
                                        <svg class="icon">
                                            <use xlink:href="/Home/images/svg/free.svg#cil-caret-bottom"></use>
                                        </svg> 53
                                    </a>
                                    <a class="card-text me-2 cA">
                                        <svg class="icon">
                                            <use xlink:href="/Home/images/svg/free.svg#cil-comment-bubble"></use>
                                        </svg> Reply
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="comment-heading">
                            <div class="comment-voting">
                                <img class="avatar-img" src="/Home/images/avatars/2.jpg" alt="somebody5">
                            </div>
                            <div class="comment-info">
                                <a href="#" class="comment-author">somebody5</a>
                                <p class="m-0">
                                    22 points &bull; 4 days ago
                                </p>
                            </div>
                        </div>
                        <div class="comment-body">
                            <p>
                                This is really great! I fully agree with what you wrote, and this is sure to help me out in the future. Thank you for posting this.
                            </p>
                            <a class="card-text me-2 ms-2 cA">
                                <svg class="icon">
                                    <use xlink:href="/Home/images/svg/free.svg#cil-caret-top"></use>
                                </svg> 124
                            </a>
                            <a class="card-text me-2 cA">
                                <svg class="icon">
                                    <use xlink:href="/Home/images/svg/free.svg#cil-caret-bottom"></use>
                                </svg> 53
                            </a>
                            <a class="card-text me-2 cA">
                                <svg class="icon">
                                    <use xlink:href="/Home/images/svg/free.svg#cil-comment-bubble"></use>
                                </svg> Reply
                            </a>
                        </div>
                    </div>
                    <!-- Comment 1 end -->
                    @*<a href="#load-more">Load more replies</a>*@
                </div>
            </div>
        </div>
    </div>
</div>

