@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewData["Title"] = "Page Title";
}
@model Helpers.Models.WebsiteViewModels.GetDashBoardViewModelVA;
@if (Model.MyJobs.ownedJobs.Count() > 0)
{
    <!--Row-->
    <div class="row">
        <!--.col-->
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header">Owner Jobs</div>
                <div class="card-body p-0">
                    <div class="table-responsive" style="max-height:500px">
                        <!--Table-->
                        <partial name="~/Views/Shared/_JobTablePartial.cshtml" model="Model.MyJobs.ownedJobs" />
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
}


@if (Model.MyJobs.doerJobs.Count() > 0)
{
    <!--Row-->
    <div class="row">
        <!-- /.col-->
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header">Doer Jobs</div>
                <div class="card-body p-0">
                    <div class="table-responsive" style="max-height: 500px">
                        <partial name="~/Views/Shared/_JobTablePartial.cshtml" model="Model.MyJobs.doerJobs" />
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
}







