@using DAO_WebPortal.Resources
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}
<!--Row-->
<div class="row">
    <div class="col-md-12">
        <div class="form-group mb-4">
            <label class="mb-2" for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title">
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="mb-2" for="title">Total Budget</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">€</span>
                    <input class="form-control" type="text" aria-label="Amount" placeholder="Amount" id="amount"><span class="input-group-text">.00</span>
                </div>
            </div>
            <div class="col-md-6">
                <label class="mb-2" for="title">Expected Time Frame</label>
                <div class="input-group mb-3">
                    <input class="form-control" type="text" aria-label="Time Frame" placeholder="Time Frame" id="time"><span class="input-group-text">days</span>
                </div>
            </div>
        </div>
        <div class="form-group mb-4">
            <label class="mb-2" for="description">Job Description</label>
            <textarea type="text" class="form-control" id="description" placeholder="Job Description" rows="10"></textarea>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary" onclick="NewJob();">Submit Job</button>
        </div>
    </div>
</div>
<script>
    //Add new job function
    function NewJob() {
        //Create job model
         var title = $('#title').val()
         var amount = $('#amount').val();
         var time = $('#time').val();
         var price = $('#price').val();
        var description = $('#description').val();
           //Ajax post action
            $.ajax({
                type: "POST",
                url: "../Home/New_Job_Post",
                data: { "title": title, "amount": amount, "time": time, "description": description },
                success: function (result) {
                    console.log(result);
                    if (result.success) {
                        window.location.href = "./My-Jobs";
                    }
                    else {
                        toastr.warning(result.message);
                    }
                },
                  failure: function (response) {
                        toastr.warning("@Lang.ConnectionError");
                },
                error: function (response) {
                     toastr.error("@Lang.UnexpectedError");
                }
            });
        }
</script>