@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}

<div class="row">
    <div class="col-md-12">
        <div class="form-group mb-4">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title">
        </div>
        <div class="form-group mb-4">
            <label for="amount">Amount</label>
            <input type="text" class="form-control" id="amount" placeholder="Amount">
        </div>
        <div class="form-group mb-4">
            <label for="time">Time Frame</label>
            <input type="text" class="form-control" id="time" placeholder="Time Frame">
        </div>
        <div class="form-group mb-4">
            <label for="price">Bid Price</label>
            <input type="text" class="form-control" id="price" placeholder="Bid Price">
        </div>
        <div class="form-group mb-4">
            <label for="description">Job Description</label>
            <textarea type="text" class="form-control" id="description" placeholder="Job Description" rows="5"></textarea>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Submit Job</button>
        </div>
    </div>
</div>