@using DAO_WebPortal.Resources
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}
<!--Row-->
<div class="row">
    <div class="col-md-12">
        <div class="form-group mb-4">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title">
        </div>
        <div class="form-group mb-4">
            <label for="amount">Amount</label>
            <input type="text" class="form-control" id="amount" placeholder="Amount">
        </div>
        <div class="form-group mb-4">
            <label for="time">Time Frame</label>
            <input type="text" class="form-control" id="time" placeholder="Time Frame">
        </div>
        <div class="form-group mb-4">
            <label for="description">Job Description</label>
            <textarea type="text" class="form-control" id="description" placeholder="Job Description" rows="5"></textarea>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary" onclick="NewJob();">Submit Job</button>
        </div>
    </div>
</div>
<script>
    //Add new job function
    function NewJob() {
        //Create job model
         var title = $('#title').val()
         var amount = $('#amount').val();
         var time = $('#time').val();
         var price = $('#price').val();
        var description = $('#description').val();
           //Ajax post action
            $.ajax({
                type: "POST",
                url: "../Home/New_Job_Post",
                data: { "title": title, "amount": amount, "time": time, "description": description },
                success: function (result) {
                    console.log(result);
                    if (result.success) {
                        toastr.success(result.message);
                        setTimeout(function () {
                            window.location.href = "./My-Jobs";
                        }, 1000);
                    }
                    else {
                        toastr.warning(result.message);
                    }
                },
                  failure: function (response) {
                        toastr.warning("@Lang.ConnectionError");
                },
                error: function (response) {
                     toastr.error("@Lang.UnexpectedError");
                }
            });
        }
</script>