@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}

<div class="row d-flex">
    <div class="col d-flex">
        <a class="align-self-end" href="../Votes" role="tab" aria-selected="true">
            <svg class="icon me-2">
                <use xlink:href="/Home/images/svg/free.svg#cil-chevron-left"></use>
            </svg>ServicesDAO
        </a>
    </div>
    <div class="col d-flex justify-content-end">
        <div class="highlighted">
            <div>
                <p class="m-0" id="demo"></p>
            </div>
        </div>
    </div>
</div>

<div class="highlighted mt-4">
    <div class="p-5">
        <p class="mb-0">Informal Vote Type: <strong>Simple</strong></p>
        <p>This ballot requires <strong>51%</strong>  of Voting Associates to vote. <strong>13</strong> Voting Associates must vote of the total 25 Voting Associates. <strong>19</strong> have voted.</p>
        <p>Milestone Information: <strong>Milestone 1 of 3 - resubmission 1</strong></p>
        <p class="mb-0">Milestone Title: <strong>Competitive Landscape Analysis</strong></p>
        <p class="mb-0">Acceptance criteria: <strong>Knowing what is there and how it competes with our concept is vital to achieving a viable product. I will submit a detailed report on the current status of decentralized package management attempts in the ecosystem. Attempts, incentivization schemes, networks used.</strong></p>
        <p class="mb-0">Grant Portion: <strong>10000</strong></p>
        <p class="mb-0">OP milestone submission url: <strong>https://docs.google.com/document/d/1xVAYTAInB-Fn26O1sjoLOalm7fSzKCaHJKSH__mfdak/edit?usp=sharing</strong></p>
        <p class="mb-0">OP milestone submission notes: <strong>The scope of my research expanded somewhat while I worked.</strong></p>
        <p class="mb-0">Code reviewer: <strong> timothy.messer@emergingte.ch</strong></p>
        <p class="mb-0">Review date: <strong>10/20/2021</strong></p>
        <p class="mb-0">Reviewer notes: <strong></strong></p>
        <p class="mb-0">Reviewer attachments: <strong></strong></p>
    </div>
</div>



<div class="highlighted mt-4">
    <div class="p-3">
        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="AppCheck">
                    <button type="button" data-coreui-toggle="collapse" data-coreui-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="accordion-button collapsed">Applicant checklist</button>
                </h2>
                <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="AppCheck">
                    <div class="accordion-body">
                        <p class="mb-0">
                            <svg class="text-icon">
                                <use xlink:href="/Home/images/svg/free.svg#cil-check"></use>
                            </svg>Application Checklist
                        </p>
                        <p class="mb-0">
                            <svg class="text-icon">
                                <use xlink:href="/Home/images/svg/free.svg#cil-check"></use>
                            </svg>Program Management Checklist
                        </p>
                        <p class="mb-0">
                            <svg class="text-icon">
                                <use xlink:href="/Home/images/svg/free.svg#cil-check"></use>
                            </svg>CRdao Checklist
                        </p>
                    </div>
                </div>
                <div class="accordion-collapse collapse" id="collapseOne" aria-labelledby="AppCheck">
                    <div class="accordion-body">
                        <p>
                            <svg class="text-icon">
                                <use xlink:href="/Home/images/svg/free.svg#cil-check"></use>
                            </svg>All attestations accepted on 10/19/2021
                        </p>
                        <p class="mb-0">
                            <strong>CRdao checklist:</strong>
                        </p>
                        <p>
                            <svg class="text-icon">
                                <use xlink:href="/Home/images/svg/free.svg#cil-check"></use>
                            </svg>CRDAO has acknowledged the project Definition of Done? 10/19/2021 Notes: N/A - no code to review
                        </p>
                        <p>
                            <svg class="text-icon">
                                <use xlink:href="/Home/images/svg/free.svg#cil-check"></use>
                            </svg>CRDAO has accepted the Program Management T&C? 10/19/2021 Notes: N/A - no code to review
                        </p>
                        <p>
                            <svg class="text-icon">
                                <use xlink:href="/Home/images/svg/free.svg#cil-check"></use>
                            </svg>CRDAO has acknowledged receipt of the corprus of work? 10/19/2021 Notes: N/A - no code to review
                        </p>
                        <p>
                            <svg class="text-icon">
                                <use xlink:href="/Home/images/svg/free.svg#cil-check"></use>
                            </svg>CRDAO has submitted a review of the corprus of work? 10/19/2021 Notes: N/A - no code to review
                        </p>
                        <p>
                            <svg class="text-icon">
                                <use xlink:href="/Home/images/svg/free.svg#cil-check"></use>
                            </svg>CRDAO has acknowledged the project Definition of Done? 10/19/2021 Notes: N/A - no code to review
                        </p>
                        <p class="mb-0">
                            <strong>Program Management checklist:</strong>
                        </p>
                        <p>
                            <svg class="text-icon">
                                <use xlink:href="/Home/images/svg/free.svg#cil-check"></use>
                            </svg>CRDAO Program Management has submitted the Evidence of Work location? 10/19/2021 Notes: N/A until program management is fully operational pending routine maintenance with projects.
                        </p>
                        <p>
                            <svg class="text-icon">
                                <use xlink:href="/Home/images/svg/free.svg#cil-check"></use>
                            </svg>CRDAO Program Management has submitted Administrator notes? 10/19/2021 Notes: VAs are expected to review the provided documentation themselves and raise any questions resulting from their review.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="highlighted mt-4">
    <div class="p-3">
        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="milestone">
                    <button type="button" data-coreui-toggle="collapse" data-coreui-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="accordion-button collapsed">Milestone 1 - Submission 1</button>
                </h2>
                <div class="accordion-collapse collapse show" id="collapseTwo" aria-labelledby="milestone">
                    <div class="accordion-body">

                    </div>
                </div>
                <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="milestone">
                    <div class="accordion-body">
                        <p class="mb-0"><strong>Milestone Title:</strong></p>
                        <p>Scoping Grant Report</p>

                        <p class="mb-0"><strong>Grant Protion:</strong></p>
                        <p>€5.000</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="highlighted mt-4">
    <div class="p-3">
        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="projectDetail">
                    <button type="button" data-coreui-toggle="collapse" data-coreui-target="#collapseThree" aria-expanded="true" aria-controls="collapseTwo" class="accordion-button collapsed">Current Project Details</button>
                </h2>
                <div class="accordion-body">
                    <div>
                        <p class="mb-0">Proposal Number:</p>
                        <p class="mb-0">Proposal Type:</p>
                        <p class="mb-0">OP:</p>
                        <p class="mb-0">Rep Staked:</p>
                        <p class="mb-0">Proposal Status:</p>
                        <p class="mb-0">Survey won:</p>
                        <p>Survey rank:</p>
                    </div>
                </div>
                <div class="accordion-collapse collapse show" id="collapseThree" aria-labelledby="projectDetail">
                    <div class="accordion-body">

                        <p><strong>Title of proposed Project (limit 10 words)</strong></p>
                        <p>Services DAO Portal Scoping Grant</p>
                        <p><strong>Describe your project in detail. Please include what it does and what problem it solves</strong></p>
                        <p>This is a scoping/requirements grant. The objective of this grant is to gather requirements, and coordinate with the Services DAO  members to evaluate and further refine&improve the Services DAO portal development proposal. </p>
                        <p><strong>Please enter the total amount you are requesting as a grant:</strong></p>

                    </div>
                </div>
                <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="projectDetail">
                    <div class="accordion-body">
                        <p><strong>Title of proposed Project (limit 10 words)</strong></p>
                        <p>Services DAO Portal Scoping Grant</p>
                        <p><strong>Describe your project in detail. Please include what it does and what problem it solves</strong></p>
                        <p>This is a scoping/requirements grant. The objective of this grant is to gather requirements, and coordinate with the Services DAO  members to evaluate and further refine&improve the Services DAO portal development proposal. </p>
                        <p>Explanation</p>
                        <p><strong>Please enter the total amount you are requesting as a grant:</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="highlighted mt-4">
    <div class="p-5">
        <h2 class="accordion-header" id="projectDetail">
            Team Details
        </h2>
        <div>
            <p class="mb-0">Informal Vote Type: <strong>Simple</strong></p>
            <p>This ballot requires <strong>51%</strong>  of Voting Associates to vote. <strong>13</strong> Voting Associates must vote of the total 25 Voting Associates. <strong>19</strong> have voted.</p>
            <p>Milestone Information: <strong>Milestone 1 of 3 - resubmission 1</strong></p>
            <p class="mb-0">Milestone Title: <strong>Competitive Landscape Analysis</strong></p>
            <p class="mb-0">Acceptance criteria: <strong>Knowing what is there and how it competes with our concept is vital to achieving a viable product. I will submit a detailed report on the current status of decentralized package management attempts in the ecosystem. Attempts, incentivization schemes, networks used.</strong></p>
            <p class="mb-0">Grant Portion: <strong>10000</strong></p>
            <p class="mb-0">OP milestone submission url: <strong>https://docs.google.com/document/d/1xVAYTAInB-Fn26O1sjoLOalm7fSzKCaHJKSH__mfdak/edit?usp=sharing</strong></p>
            <p class="mb-0">OP milestone submission notes: <strong>The scope of my research expanded somewhat while I worked.</strong></p>
            <p class="mb-0">Code reviewer: <strong> timothy.messer@emergingte.ch</strong></p>
            <p class="mb-0">Review date: <strong>10/20/2021</strong></p>
            <p class="mb-0">Reviewer notes: <strong></strong></p>
            <p class="mb-0">Reviewer attachments: <strong></strong></p>
        </div>
    </div>
</div>



<script>
    // Set the date we're counting down to
    var countDownDate = new Date("Jan 5, 2022 15:37:25").getTime();
    $(function () {
        CountDown();
        setInterval(function () {
            CountDown();
        }, 1000);
    });

    function CountDown() {
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="demo"
        document.getElementById("demo").innerHTML = "<span style='font-size:2rem'>" + days + "</span>" + "days <span style='font-size:2rem'>" + hours + "</span>hours<span style='font-size:2rem'> "
            + minutes + "</span>min <span style='font-size:2rem'>" + seconds + "</span>sec ";

        // If the count down is over, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }

    }

</script>
